[2017-07-10 05:44] anuragpaliwal80 opened #63 "Multiple FIM profiles scenario is not working on windows"
Tried on windows 2012 r2.

[2017-07-13 20:42] redonkuless opened #64 "Ubuntu CIS profile 1604 error?"
Line: 629 I believe should read,

 - net.ipv4.icmp_echo_ignore_bogus_error_responses:

instead of:

- icmp_echo_ignore_bogus_error_responses:

[2017-07-17 05:43] anuragpaliwal80 opened #65 "Nova pkg module is not working as expected"
Command: `__salt__[‘pkg.version’](“openssh-server”)` return None but command `rpm -q “openssh-server”` returns openssh-server-6.6.1p1-25.61.amzn1.x86_64. Looks like something wrong in salt command ? As per my understanding the first command (the salt one) should return the version details. (Tried using pkg.py file)

[2017-07-17 16:35] basepi commented on #64
This issue was moved to hubblestack/hubblestack_data#32

[2017-07-17 16:35] #64 closed

[2017-07-17 16:37] basepi commented on #63
@madchills Can you add this to your list?

[2017-07-17 16:38] basepi commented on #65
What operating system is the host running? Does it show up in `yum list installed`? I'm pretty sure salt's pkg.version is using yum, not rpm. It's possible their results differ.

[2017-07-17 21:20] basepi opened #67 "Ubuntu CIS profile 1604 error?"
_From @basepi on July 17, 2017 16:35_

_From @redonkuless on July 13, 2017 20:42_

Line: 629 I believe should read,

 - net.ipv4.icmp_echo_ignore_bogus_error_responses:

instead of:

- icmp_echo_ignore_bogus_error_responses:

_Copied from original issue: hubblestack/hubble#64_

_Copied from original issue: hubblestack/hubblestack_data#32_

[2017-07-17 21:20] basepi commented on #67
Thanks for the report, @redonkuless! Any chance you could submit a PR fixing this? Otherwise we'll grab it when we get a chance.

[2017-07-17 21:20] basepi commented on #67
_From @redonkuless on July 17, 2017 17:39_

No idea how to do that. New to this.

________________________________
From: Colton Myers [notifications@github.com]
Sent: Monday, July 17, 2017 9:42 AM
To: hubblestack/hubblestack_data
Cc: Jonathan Loveless; Mention
Subject: Re: [hubblestack/hubblestack_data] Ubuntu CIS profile 1604 error? (#32)

Thanks for the report, @redonkuless<redir.aspx?REF=Ktq2LB

[2017-07-17 21:20] basepi commented on #67
No worries, I'll get this fixed a little later today.

[2017-07-17 21:21] basepi commented on #67
(Sorry for all the moves, I've been re-evaluating my issue management today and am moving everything into hubblestack/hubble. Which is where it was originally. My bad.)

[2017-07-17 21:24] basepi opened #68 "Nebula documentation on readthedocs doesn't match latest on github"
_From @basepi on September 28, 2016 20:43_

https://hubblestack.readthedocs.io/en/latest/components/nebula/modules/osquery.html doesn't match the current module/readme. (Data no longer stored in pillar, no more pillar_key argument, it's query_file now, etc etc)

_Copied from original issue: hubblestack/hubble-salt#5_

[2017-07-17 21:25] basepi opened #69 "http_event_collector_SSL_verify for splunk returners should be configurable"
_From @basepi on March 7, 2017 22:34_

_From @zxjinn on September 20, 2016 17:19_

If a proper SSL cert is available, we should be able to configurable that to turn it on (default is currently hardcoded to not verify)

_Copied from original issue: hubblestack/quasar#27_

_Copied from original issue: hubblestack/hubble-salt#20_

[2017-07-17 21:25] basepi commented on #69
Agreed.

[2017-07-17 21:29] basepi opened #70 "Splunk Nebula returner doesn't work when nebula is run with verbose=True"
_From @basepi on March 7, 2017 22:35_

_From @mew1033 on August 22, 2016 23:22_

[code]

_Copied from original issue: hubblestack/quasar#20_

_Copied from original issue: hubblestack/hubble-salt#22_

[2017-07-17 21:29] basepi commented on #70
This should be pretty trivial to fix, by the way. If it's run in verbose mode, then instead of being a list of strings, it's a list of dicts. Inside of each dict will be a `'query_result'` key, which is the non-verbose result of the query.

[2017-07-17 21:32] basepi opened #71 "Some events returned to Splunk have a semicolon and random string appended to the file name"
_From @basepi on March 7, 2017 22:42_

_From @mew1033 on March 2, 2017 23:12_

There are some events getting returned to Splunk that have a semicolon and a random string appended to the file name.
![image](https://cloud.githubusercontent.com/assets/4435733/23531275/f5096524-ff62-11e6-9ed1-0470229f9dc0.png)

The object_path parameter comes from the pathname field in pulsar.

_Copied from original i

[2017-07-17 21:32] basepi commented on #71
So have we decided these are not real filenames?

[2017-07-17 21:32] basepi commented on #71
_From @mew1033 on March 2, 2017 23:43_

I don't know. I would suspect not, but it's certainly possible.

[2017-07-17 21:34] basepi opened #72 "Python-inotify can be bypassed with hard links"
_From @basepi on March 7, 2017 22:42_

_From @basepi on January 25, 2017 18:30_

[001-20170109-Hubble.pdf](https://github.com/hubblestack/pulsar/files/730609/001-20170109-Hubble.pdf)

The only solution we've come up with so far is using `os.walk` to manually create watches on all files in a tree, rather than relying on the directory watches that inotify uses.

_Copied from original issue: hubblest

[2017-07-17 21:34] basepi opened #73 "Add support for watching only executable files"
_From @basepi on March 7, 2017 22:43_

_From @basepi on November 2, 2016 19:10_

Especially useful for /opt

_Copied from original issue: hubblestack/pulsar#56_

_Copied from original issue: hubblestack/hubble-salt#25_

[2017-07-17 21:40] basepi opened #74 "Create generic fallback query format"
_From @basepi on March 7, 2017 22:46_

_From @mew1033 on January 10, 2017 16:8_

There should be a generic format for adding fallback queries. Right now they are hardcoded into the module itself. It might be a good idea to pull them out into a separate file, similar to how the osquery queries are split out.

_Copied from original issue: hubblestack/nebula#26_

_Copied from original issue: hubblest

[2017-07-17 21:40] basepi commented on #74
👍

[2017-07-17 22:17] basepi opened #75 "outline benchmark coverage per platform in README"
_From @basepi on March 7, 2017 22:49_

_From @cedwards on April 25, 2016 3:48_

We need to somehow track what percentage coverage we have for a platform for each major benchmark. Example: Ubuntu-14.04 CIS: 80%, RHEL-6 CIS: 40%, etc.

_Copied from original issue: hubblestack/nova#60_

_Copied from original issue: hubblestack/hubble-salt#31_

[2017-07-17 22:17] basepi opened #76 "pkgng_audit failure output cleanup"
_From @basepi on March 7, 2017 22:49_

_From @cedwards on April 28, 2016 22:25_

Currently the pkgng_audit module (FreeBSD only) outputs failures as a long string. I'd like to parse the output better.

This is the current (`--out json`) output of a failure.

[code]

Along the lines of what I'd like to see...

[code]

I'd like to standardize (as possible) the output between the multiple platform me

[2017-07-17 22:20] basepi opened #77 "Create `show_controlled` configuration to hide controlled checks in nova"
Add a `show_controlled` argument and configuration setting like we did for `show_success`.

[2017-07-17 22:20] basepi commented on #77
Replaces https://github.com/hubblestack/hubble-salt/issues/33

[2017-07-17 22:21] basepi opened #78 "Idea: jinja support in yaml profiles"
_From @basepi on March 7, 2017 22:50_

_From @dgmorrisjr on May 8, 2016 20:10_

In the profiles, since this is within salt, do you think jinja would be supported for heavily repeated text?  for instance, adding an `osfinger` variable at the top of the YAML, then the variable reference everywhere below?

_Copied from original issue: hubblestack/nova#130_

_Copied from original issue: hubblestack/hu

[2017-07-17 22:21] basepi commented on #78
We currently don't use the renderer system at all. We just `import yaml` and `yaml.safe_load` directly. That said, in the future we could probably implement basic renderer support using the shebangs that salt uses.

[2017-07-17 22:21] basepi opened #79 "in-hubble documentation"
_From @basepi on March 7, 2017 22:51_

_From @cedwards on July 3, 2016 1:22_

Can we replicate Salt's `sys.doc` within Hubble? ie; `hubble.doc [module]`.

_Copied from original issue: hubblestack/nova#185_

_Copied from original issue: hubblestack/hubble-salt#36_

[2017-07-17 22:21] basepi commented on #79
Probably. May take some loader modifications, however.

[2017-07-17 22:22] basepi opened #80 "hubble.audit doesn't allow me to specify saltenv on commandline"
_From @basepi on March 7, 2017 22:51_

_From @jrporcaro on July 26, 2016 23:15_

I need to be able to supply the saltenv on the commandline. so I can have my hubblestack top.nova and yaml definition files located in a different environment than base. This way I will not have to change the config file.

for example  salt '*' hubble.sync saltenv=hubble

_Copied from original issue: hubblestack/nova#

[2017-07-17 22:23] basepi opened #81 "rhels-6-level-1-scored-v2-0-1.yaml: CIS-5.2.15 multiple issues"
_From @basepi on March 7, 2017 22:52_

_From @fdamstra on August 9, 2016 15:43_

In rhels-6-level-1-scored-v2-0-1.yaml, CIS-5.2.1 is first in there correctly (checking permissions on /etc/ssh/sshd_config), but later appears in a rule that is actually 5.2.15. There are issues with this latter rule:
1. Need to update 5.2.1 to 5.2.15
2. Need to fix description. The description matches 5.2.1, should b

[2017-07-17 22:23] basepi opened #82 "rhels-6-level-1-scored-v2-0-1.yaml: 5.2.5 should support values less than 4"
_From @basepi on March 7, 2017 22:52_

_From @fdamstra on August 9, 2016 15:45_

CIS-5.2.5 requires the exact match of "MaxAuthTries 4". It should support any value <= 4.

Other CIS modules should be checked as well.

_Copied from original issue: hubblestack/nova#226_

_Copied from original issue: hubblestack/hubble-salt#40_

[2017-07-17 22:23] basepi opened #83 "rhels-6-level-1-scored-v2-0-1.yaml: CIS-7.4 should be CIS-5.4.4, or is duplicated"
_From @basepi on March 7, 2017 22:52_

_From @fdamstra on August 9, 2016 15:47_

The module has an entry for CIS-7.4 which doesn't exist in the benchmark. Initial investigation suggests that this should be 5.4.4 and that it's a duplicate.

Other CIS modules should be checked as well.

_Copied from original issue: hubblestack/nova#227_

_Copied from original issue: hubblestack/hubble-salt#41_

[2017-07-17 22:23] basepi opened #84 "rhels-6-level-1-scored-v2-0-1.yaml: CIS-5.2.11 Requires unnecessary whitespace"
_From @basepi on March 7, 2017 22:52_

_From @fdamstra on August 9, 2016 15:50_

The module rule for CIS-5.2.11 requires that the 'Ciphers' line in sshd_config have trailing whitespace. This causes false positives on valid configurations that end the line after the third cipher.

This should match EOL ($) instead, or in addition.

Other CIS modules should be checked, as well.

_Copied from origina

[2017-07-17 22:24] basepi opened #85 "Create "or" mechanism for grep module"
_From @basepi on March 7, 2017 22:53_

_From @basepi on September 28, 2016 19:23_

See the review comments on https://github.com/HubbleStack/Nova/pull/260 for examples. We either need to fix those examples with new `misc.py` checks, or allow for OR-ing in grep.py.

_Copied from original issue: hubblestack/nova#263_

_Copied from original issue: hubblestack/hubble-salt#43_

[2017-07-17 22:24] basepi commented on #85
We've partially solved this by just using very large regular expressions in our grep commands, but it would still be nice to have `or` capability to keep the regex simpler.

[2017-07-17 22:25] basepi opened #86 "Compliance scanning for cloud providers"
_From @basepi on March 7, 2017 22:53_

_From @lorengordon on November 30, 2016 18:10_

Would be awesome if we could use hubblestack to scan for compliance against cloud provider benchmarks, such as this one, https://aws.amazon.com/blogs/security/tag/cis-aws-foundations-benchmark/

_Copied from original issue: hubblestack/nova#282_

_Copied from original issue: hubblestack/hubble-salt#45_

[2017-07-17 22:25] basepi commented on #86
This would be great! Thanks for the request!

[2017-07-17 22:28] basepi opened #87 "Firewall Rule Audits"
_From @basepi on March 7, 2017 22:55_

_From @grimamethyst on May 5, 2016 3:6_

As part of PCI compliance, regular reviews of all prod firewalls are required.  However, this usually involves spending time going through the entire config file for each firewall.  That format is also generally impossible to hand off to auditors without copying out each individual rule from the config file.  Could the

[2017-07-17 22:28] basepi commented on #87
I think this is doable, but will be low on the priority list for now.

[2017-07-17 22:29] basepi opened #88 "PF firewall support"
_From @basepi on March 7, 2017 22:55_

_From @grimamethyst on May 5, 2016 3:14_

Extend the existing firewall module to support PF (versus creating a separate module).

_Copied from original issue: hubblestack/nova#119_

_Copied from original issue: hubblestack/hubble-salt#51_

[2017-07-17 22:29] basepi commented on #88
_From @avb76 on May 13, 2016 16:52_

@grimamethyst, it looks like there is no salt execution module for `pf`.

Do you know if there is a `pf` command that checks the existence of a rule given as parameter? I'm leaving `grep` over `pf.conf` as a last solution. I don't have any experience with `pf`, but I guess a rule that does a certain thing might come under different formats, so `grep` wouldn't w

[2017-07-17 22:29] basepi commented on #88
_From @cedwards on May 13, 2016 17:29_

If there is no existing `pf` execution module, perhaps we should put that first. I realize that will be a bigger project, but we also don't need this _right_ away.

[2017-07-17 22:29] basepi opened #89 "Make the iptables module to work using a true whitelist"
_From @basepi on March 7, 2017 22:55_

_From @avb76 on August 19, 2016 11:3_

"It seems to me that in 99% of cases, people have a few iptables rules which are acceptable, and want to blacklist all others."

_Copied from original issue: hubblestack/nova#234_

_Copied from original issue: hubblestack/hubble-salt#52_

[2017-07-17 22:31] basepi commented on #89
From https://github.com/hubblestack/hubble-salt/issues/53, make sure we also audit the default policy.

[2017-07-17 22:31] basepi opened #90 "rhels-7-level-1-scored-v1.yaml requires both rsyslog and syslog-ng to be installed"
_From @lilmansplace on May 19, 2017 17:43_

salt-call hubble.top
....
Failure:
        |_
          ----------
          CIS-4.2.3:
              Ensure rsyslog or syslog-ng is installed
....
yet when I run:
rpm -qa | grep syslog
rsyslog-7.4.7-16.el7.x86_64

Once i've installed syslog-ng
rpm -qa | grep syslog
rsyslog-7.4.7-16.el7.x86_64
syslog-ng-libdbi-3.5.6-3.el7.x86_64

Both are now installed a

[2017-07-17 22:31] basepi commented on #90
We definitely need to make this an `or`. Thanks for the report!

[2017-07-17 22:36] basepi opened #91 "[Windows] [win_firewall module] Some audits are failing because of wrong value loaded from "Get-NetFirewallProfile -PolicyStore ActiveStore""
_From @vishsriv on July 14, 2017 11:57_

In win_firewall module. Wrong data is being loaded from command "Get-NetFirewallProfile -PolicyStore ActiveStore".
Though the command is giving the right output. But function "_import_firewall" is returning wrong value for "Domain and public" types.

E.g: Following audit is failing:

[code]

I did some debugging and found value of ['private']['LogFileName']

[2017-07-17 22:36] basepi commented on #91
@madchills could you look into this one?

[2017-07-17 22:36] basepi opened #92 "[Windows][win_reg Module] Module is not able to find value of registry for 'HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\NetworkProvider\HardenedPaths\\*\NETLOGON'"
_From @vishsriv on July 14, 2017 12:11_

win_reg module is returning "No key:value exist" error while getting registry value for the following path:
`'HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\NetworkProvider\HardenedPaths\\*\NETLOGON'`

Following audit is failing:

[code]

win_reg module uses last occurrence of "\\\\" (double backward slash) for splitting the registry path from profi

[2017-07-17 22:36] basepi commented on #92
Thanks for the report!

[2017-07-17 22:36] basepi opened #93 "[Windows][win_reg Module] For Registry paths with Hive:'hkey_users', module is failing while running audit for all SIDs of system."
_From @vishsriv on July 14, 2017 12:23_

win_reg module is returning failure status for the following audit:

[code]

Many audits with hive: "hkey_users" are failing.

_Copied from original issue: hubblestack/hubble-salt#88_

[2017-07-17 22:36] basepi commented on #93
@madchills I wonder if this will be fixed by your refactor removing all the `enabled` transformations?

[2017-07-18 05:27] anuragpaliwal80 commented on #65
I was using Amazon Linux.
yes the above command `yum list installed` is working.
`__salt__['pkg.version']('openssh-server')` shows bank but if I use `__salt__['pkg.latest_version']('openssh-server'),` it shows error as
`[ERROR   ] Command '['yum', '--quiet', 'clean', 'expire-cache']' failed with return code: 1
[ERROR   ] output: There was a problem importing one of the Python modules
required to r

[2017-07-18 09:46] vishsriv opened #94 "[CoreOS][pkg module] PKG module is not able to LazyLoad pkg.version on CoreOS"
Error is coming while running pkg audits on CoreOS.
E.g,
Following audit is giving error:
[code]
Error:
[code]

[2017-07-18 18:42] basepi commented on #94
This is an expected error. Because CoreOS doesn't have a package manager, salt's underlying pkg libraries don't load.

We haven't figured out a good workaround, but honestly for DMa at Adobe we're probably just going to pull CoreOS versions from splunk and compare against CVEs reported by the CoreOS team in their releases.

[2017-07-18 18:42] #94 closed

[2017-07-18 18:45] basepi commented on #65
Fascinating. Seems like it might be a salt error, I wonder if upgrading our underlying salt version might resolve this?

Also why is python involved at all if it's just shelling out to `yum --quiet clean expire-cache`? Very odd. I'll have to see if I can reproduce it.

You also might try installing salt and testing with `salt-call` just to see if you can reproduce in salt.

[2017-07-19 01:38] fossam commented on #88
`pf` rules work by fundamentally different principle compared to `iptables` - in `iptables`, first match wins, in `pf` last (which is generally more specific) match wins.
Systems running `pf` (OpenBSD, FreeBSD, Mac OS X, etc.) come with `pfctl` command line tool that allow controlling the firewall. Speficially, `pfctl -s rules` outputs all currently active rules. `pf` also has a concept called _an

[2017-07-19 05:43] anuragpaliwal80 commented on #67
I can take this.

[2017-07-19 05:51] anuragpaliwal80 commented on #67
Done with https://github.com/hubblestack/hubblestack_data/pull/34

[2017-07-19 19:46] #67 closed

[2017-07-20 20:00] basepi opened #98 "Add ability to jsonify certain fields in osquery results"
Some results from osqueryi have json data underneath. Basically, we're going to prefix the *values* for these results with `__JSONIFY__`. So the splunk returner will iterate through the results and look for that prefix, and chop of that prefix and run the data through json before sending to splunk.

[2017-07-20 20:01] basepi commented on #98
https://jira.corp.adobe.com/browse/CSTTEAM-41397

[2017-07-20 20:03] basepi opened #99 "Canary FIM events"
It's sometimes hard to detect whether FIM isn't working on a host, or if a host is just really quiet. We want to add a scheduled job once per day to create and delete a temporary file to trigger a FIM event, so all hosts will have daily FIM data.

[2017-07-20 20:03] basepi commented on #99
https://jira.corp.adobe.com/browse/CSTTEAM-41394

[2017-07-20 20:06] basepi opened #100 "Move installation-specific configuration to /etc/hubble/hubble.d"
We want to be able to control the default config without trampling user-specific configuration. This will add the ability to put user-specific config in a subdirectory (`/etc/hubble/hubble.d/`) and merge with our shipped config. We will also make the shipped config *not* a config file as far as rpm/deb are concerned, so updates we ship will overwrite what we've shipped previously.

[2017-07-20 20:06] basepi commented on #100
https://jira.corp.adobe.com/browse/CSTTEAM-41402

[2017-07-20 20:08] basepi opened #101 "Separate module for reporting custom fields"
`custom_fields` in their current form are super useful, but some users are using the custom fields for correlations among themselves, rather than with the other data hubble is reporting. For these custom fields, we want to have a separate module and scheduled job reporting these fields once per day, rather than adding them to every event into splunk (increasing the bandwidth substantially as a res

[2017-07-20 20:08] basepi commented on #101
https://jira.corp.adobe.com/browse/CSTTEAM-41496

[2017-07-20 20:09] basepi opened #102 "Report error messages to splunk"
Can we figure out a way to get hubble error messages back to splunk so we can see errors without logging into the host?

[2017-07-20 20:10] basepi commented on #102
https://jira.corp.adobe.com/browse/CSTTEAM-41409

[2017-07-20 20:11] basepi opened #103 "Caching/buffering of data in case of splunk outage"
Should obviously have a data limit, but it would be nice to not lose data during a splunk or network outage. Right now we're just dumping the data if we can't hit splunk.

[2017-07-20 20:11] basepi commented on #103
https://jira.corp.adobe.com/browse/CSTTEAM-41392

[2017-07-20 20:12] basepi opened #104 "Monitor events from docker with Nebula"
This is currently not possible with the current architecture of hubble (as far as I know) because we don't have multiprocessing or threading to listen to sockets. This will go hand in hand with the osqueryd integration we eventually want.

[2017-07-20 20:12] basepi commented on #104
https://jira.corp.adobe.com/browse/CSTTEAM-41390

[2017-07-20 20:13] basepi opened #105 "Integrate with osqueryd"
This will give us a lot more realtime data, and we won't miss out on short-lived processes between our nebula queries. We may even be able to use it for FIM.

Will take a pretty big architectural rewrite of the daemon, however.

[2017-07-20 20:13] basepi commented on #104
Refs https://github.com/hubblestack/hubble/issues/105

[2017-07-20 20:15] basepi opened #106 "Topfiles for nebula/pulsar"
Would be endlessly useful for team-specific or grain-specific needs in these modules

[2017-07-20 20:15] basepi commented on #106
https://jira.corp.adobe.com/browse/CSTTEAM-41388

[2017-07-20 20:16] basepi opened #107 "Add splunk index name to grains"
This is a pretty splunk-specific feature but would be very useful for the topfile features in #106. Team-specific targeting and the like.

[2017-07-20 20:17] basepi commented on #107
https://jira.corp.adobe.com/browse/CSTTEAM-41387

[2017-07-20 20:19] basepi opened #108 "Ideas for additional nova modules?"
This stemmed from an Adobe internal conversation. We want hubble to be as flexible as possible so we can just edit hubblestack_data when we need to gather new data, rather than forcing all our users to upgrade because we need new code.

Here's the discussion so far:

salt.modules.augeas_cfg - since this library can allow changing the contents of configuration files, care must be taken to remove su

[2017-07-20 20:22] basepi opened #109 "awk module for nova"
From #108:

[2017-07-20 20:22] basepi opened #110 "curl module for nova"
From #108:

[2017-07-20 20:23] basepi commented on #72
https://jira.corp.adobe.com/browse/CSTTEAM-40632

[2017-07-20 20:25] basepi opened #111 "Nebula module for gathering checksums"
Would be useful to be able to gather a checksum for a specific file across all hosts to check for known bad binaries, etc.

[2017-07-24 21:34] basepi commented on #65
I can reproduce this. I'm betting it's something related to our pyinstaller build. I'm wondering if it might be as simple as including `yum` in our hidden imports list. I'll make a new build when I have time and see if that fixes it.

[2017-07-25 17:41] fossam opened #114 "reflect changes to host's settings in logs and returner outputs"
An issue so far has been that a change in host's settings (hostname, fqdn, ip address) has required Hubble restart. Changes to these settings may happen when Hubble starts before host provisioning scripts have finished, for example. As these settings change, logs need to reflect the accurate settings or tracking over time becomes impossible if no other stable identifiers are present.

The problem

[2017-07-25 18:06] fossam commented on #114
#102
I think these issues are related.
Is it possible to have logging to returners in a returner agnostic manner?

[2017-07-25 18:15] basepi commented on #114
There are two separate issues at work here. The easy one, which is grains refresh. And the hard one, which is #102.

[2017-07-25 18:45] basepi commented on #65
I've tracked it down to something related to pyinstaller. `pkg.version` works if you do a `python setup.py install` for hubble instead.

[2017-07-25 21:21] basepi commented on #65
The wonderful @fossam has helped me track this down to a shared library issue. Basically, when rpm is called under hubble, it uses the rpmlib shared libraries that ship with hubble. This is why it works when you execute the commands outside of hubble, and why it works when you just do a python install.

@anuragpaliwal80 Can you try deleting the shared libraries and see if it fixes things (command

[2017-07-27 11:27] anuragpaliwal80 commented on #65
Oh yes, it working now. Thanks

[2017-07-27 16:47] basepi opened #118 "running hubble.audit with salt (nitrogen - 2017.7.0rc1) asserts"
_From @jrporcaro on July 6, 2017 22:34_

I am using salt 2017.7.0rc1 (Nitrogen) with a default install of hubble 2017.4.1 on CentOS 7.2  using pygit2 and gitfs based hubble install. I did a saltutil.sync_all then a hubble.sync then a hubble.audit.

[code]

here is my versions_report:
[code]

_Copied from original issue: hubblestack/hubble-salt#83_

[2017-07-27 16:47] basepi commented on #118
This is probably in my customized loader, I expect that salt's loader changed in some way for nitrogen, and I need to update my calls. The crappy thing is that will probably require some sort of version check for salt....maybe I just need to pull in the whole loader so it doesn't change.

[2017-07-27 16:47] basepi commented on #118
@jrporcaro could you do me a favor and test with the develop branch of hubble-salt? I think I've resolved the issue.

[2017-07-27 16:47] basepi commented on #118
_From @jrporcaro on July 19, 2017 1:52_

I tried it with the gitfs and "develop" and here is what I got back

salt \* hubble.audit
master2:
    The minion function caused an exception: Traceback (most recent call
last):
      File "/usr/lib/python2.7/site-packages/salt/minion.py", line 1466, in
_thread_return
        return_data = executor.execute()
      File
"/usr/lib/python2.7/site-packages/sal

[2017-07-27 16:47] basepi commented on #118
Whoops, that's my bad. Another fix incoming.

[2017-07-27 16:47] basepi commented on #118
Alright, can you try one more time?

[2017-07-27 17:35] jrporcaro commented on #118
I tried with these settings:
[code]

and I am getting the following:
[code]

[2017-07-27 18:35] basepi commented on #118
Thanks, investigating now.

[2017-07-27 21:27] basepi commented on #118
@jrporcaro Alright, I finally have this fixed. Please try again, and close this issue if it's resolved.

[2017-07-27 21:50] basepi commented on #65
Perfect. Leaving this open until I automate the removal of those shared libraries in the package building stages.

[2017-07-27 22:39] jrporcaro commented on #118
This is now fixed. And should be closed. I do not have a close option because you re-entered this issue. Thanks for your work on this.

[2017-07-28 19:13] #98 closed

[2017-07-28 21:25] basepi commented on #118
Sorry it took so long. Shouldn't break in the future, since I pulled in all the code in question, so I'm not longer relying on you guys not changing anything. :)

[2017-07-28 21:25] #118 closed

[2017-07-30 20:43] fossam commented on #98
Just as a note, I tested against these changes with
`... | eval oooo=mvzip('environment{}.variable_name', 'environment{}.value', "=" ) | mvexpand oooo  | table _time, process_id, oooo` and the output was one environment variable=value per line, as expected.

[2017-07-31 18:38] #99 closed

[2017-08-01 18:14] basepi commented on #100
https://github.com/hubblestack/hubble/pull/123

[2017-08-01 18:14] #100 closed

[2017-08-01 18:19] basepi commented on #85
https://github.com/hubblestack/hubble/blob/develop/hubblestack/files/hubblestack_nova/grep.py is the file in question. I have not thought this through all the way, so I'm unsure whether this will need to be a new module (grep_or.py) or if we can fit it into the existing data structure. Whatever changes we make to the existing data structure to allow for `or` need to be backwards compatible with th

[2017-08-01 18:23] basepi commented on #87
I know this was originally a nova module, but since it's primarily information-gathering, I think this should actually be a new nebula module, as the labels infer. Nova is about auditing against standards, nebula is about information gathering.

[2017-08-01 18:24] basepi commented on #87
Also, iptables is the only firewall we'll support for now.

[2017-08-02 05:16] fossam commented on #100
I anticipate questions regarding to the order the user defined configuration files are loaded and which settings get used when there's overlap.

[2017-08-02 15:03] basepi opened #130 "Add timeouts to osquery queries"
As far as I can tell we'll need to add a dep on the suprocess32 backport library to get the python 3.2+ version of subprocess which includes timeouts. Should be pretty straightforward. This will prevent hanging osqueryi queries from killing our daemon.

[2017-08-02 15:12] basepi commented on #100
I honestly don't. Because for 99% of teams, it's going to be just moving their returner config to a separate file, no other changes necessary. So while you can add multiple files and start worrying about their order, it's going to be just one file in practice and the order is (1) /etc/hubble/hubble (2) their custom config, which will overwrite any keys in our main config.

I did add support for `u

[2017-08-02 16:09] #101 closed

[2017-08-02 17:38] mew1033 commented on #85
I know @fossam talked about creating an awk module in addition to the current grep module. Awk would allow us to do 'or' matching pretty easily.

[2017-08-02 17:42] mew1033 commented on #87
Not sure if it helps, but we're currently gathering iptables rules via osquery: https://github.com/hubblestack/hubblestack_data/blob/develop/hubblestack_nebula/hubblestack_nebula_queries.yaml#L38-L39

[2017-08-02 17:57] mew1033 commented on #130
As discussed previously, salt upstream has a timeout feature on cmd.run. Unfortunately, it looks like it might be broken. Is it worth trying to fix it upstream so we don't have to include a new module?

[2017-08-02 21:36] basepi commented on #87
Interesting, I should have checked the query list. @grimamethyst would that serve your purposes? Sounds like we have this pretty handled at Adobe.

[2017-08-02 21:38] basepi commented on #130
We'll see what kind of traction we get on that issue. And maybe I'll find some time to code dive salt and see if I can fix it. They're pretty busy over there. In any case it's not on my current sprint or anything, so we'll let it marinate.

[2017-08-03 18:00] mew1033 commented on #130
Looks like adding `use_vt=True` to the command makes the timeout feature work. Not sure what other effects it may have.
https://github.com/saltstack/salt/issues/42696

[2017-08-03 18:15] damon-atkins commented on #130
I have dealt  with this before but not in python. the key is setid and killpg
https://github.com/saltstack/salt/issues/42696#issuecomment-320043201

https://stackoverflow.com/questions/4789837/how-to-terminate-a-python-subprocess-launched-with-shell-true
https://stackoverflow.com/questions/2638909/killing-a-subprocess-including-its-children-from-python

[2017-08-07 04:04] tsharpe opened #136 "Shell history not populating with osquery"
The query listed on line 9 of:

https://github.com/hubblestack/hubblestack_data/blob/develop/hubblestack_nebula/hubblestack_nebula_queries.yaml

[code]
[code]

Tested on CentOS 7.3, Ubuntu 16.04.3 and Debian 9.1 running osqueryi 2.6

[2017-08-07 04:30] cedwards commented on #136
I get the same result on Debian 9, Ubuntu 17.04, CentOS 7.3 and CentOS 6.9.

[code]

[2017-08-07 16:35] fossam commented on #136
I think this only populates if timestamps are enabled in bash history, otherwise we'd pull the full history on each run and we'd not know timing of commands.
Please enable them by defining `HISTTIMEFORMAT` environment variable.

[2017-08-07 16:52] mew1033 commented on #136
@fossam is correct. If we can come up with a better way to get bash history, I'd be all ears.

[2017-08-07 16:52] #136 closed

[2017-08-08 03:27] tsharpe opened #143 "Debian 8 package doesn't start"
Packages install just fine but package won't start.
[code]
[code]

[2017-08-08 05:11] tsharpe opened #144 "Centos6 broken glibc dependency"

[2017-08-08 05:20] tsharpe opened #145 "Centos6 package: broken glibc dependency"
[code]
Default CentOS 6.9 has glibc 2.2 installed
[code]
Proposed solution:
https://unix.stackexchange.com/questions/176489/how-to-update-glibc-to-2-14-in-centos-6-5

[2017-08-08 06:02] fossam commented on #145
Thanks for testing centos 6.
I don't get the same result, though.
In my case:
[code]
Which rpm did you use for centos 6? As of this moment rpm for centos 6 isn't uploaded yet, but the Dockerfile is available [here](https://github.com/hubblestack/hubble/pull/141/commits/df856f49d7746df1031a8e0bf6fa79bbf9700f81)
 and produces an rpm:
[code]

[2017-08-08 06:43] tsharpe commented on #145
My confusion I saw
[code]
and thought that was `el609` not `al609` for Amazon Linux. The install from source works fine. I will wait for the `el609` rpm build or build it myself

[2017-08-08 06:44] #145 closed

[2017-08-08 07:01] #144 closed

[2017-08-09 15:47] fossam commented on #143
For an update, currently the package has the following issue:

[code]

[2017-08-09 21:20] basepi commented on #143
The packages uploaded to the 2.2.1 release on Github have resolved these issues.

[2017-08-09 21:20] #143 closed

[2017-08-10 21:31] basepi commented on #85
I think we're going to go with https://github.com/hubblestack/hubble/issues/109 instead of this one. I'll tell @rashmip29

[2017-08-10 21:31] #85 closed

[2017-08-11 01:04] fossam commented on #109
I think lines following and including `salt.modules.augeas_cfg` should be removed as those have nothing to do with the awk module. It's a description of an idea for a different module.

[2017-08-11 17:39] basepi commented on #109
Whoops, you're right, copy-pasta. Removed.

[2017-08-11 22:40] whackyhack opened #155 "CIS-5.2.12 missing from centos-7-level-1-scored-v2-1-0.yaml"
Even though it is in centos-6-level-1-scored-v2-0-1.yaml as well as in centos-7-level-1-scored-v2-0-0.yaml.  Checked CIS benchmark v2.1.0 and v2.1.1, 5.2.12 is present.

[2017-08-11 22:42] whackyhack commented on #82
This is cross-board.  centos-6, centos-7 has the same problem.

[2017-08-14 14:10] basepi commented on #82
👍 thanks for the clarification. There's a fair amount of copy pasta, I think.

[2017-08-14 14:11] basepi commented on #155
Thanks for the report.

[2017-08-15 22:18] whackyhack commented on #82
Pull request #49 added.  This bug is more dangerous than suggested in the title because it also produces false negatives, e.g., if MaxAuthRetries is set to 40 or 4000, it will show as compliant.

[2017-08-15 22:20] whackyhack commented on #155
Pull request 50 added

[2017-08-16 19:14] #87 closed

[2017-08-16 19:14] basepi commented on #87
I'm going to close this, but if this doesn't serve your purposes please comment and we'll get it re-opened!

[2017-08-16 21:58] basepi commented on #82
It'll be an awesome fix. Thanks for working to rebase your changes and clean up those PRs. 👍

[2017-08-16 23:24] whackyhack opened #159 "Incorrect tag for CIS-5.2.5 in several CentOS yaml files"
As mentioned while attempting #82, I notice that the same entry (sshd_max_auth_retries) is identified differently from 5.2.5 in some files.  So I verified that CIS benchmark for CentOS 6 and that for CentOS 7 both identify this as 5.2.5, not 6.2.5.

To discover which ones have this problem, I display this section in every centos file:
[code]

So centos-7-level-1-scored-v1-0-0.yaml and centos-6-lev

[2017-08-17 02:46] #159 closed

[2017-08-17 02:49] whackyhack commented on #159
By checking only my downloaded benchmark versions, I gave CIS too much credit.  The yaml files are correct when compared with matching benchmark versions.

[2017-08-17 19:00] basepi commented on #159
Yep. For a standards body, they're not very good at standardizing....

It's actually been one of the most infuriating things when developing hubble.

[2017-08-17 20:45] mew1033 commented on #159
That's why each of the nova profiles has to be pegged to a specific version of the CIS check. So for example `centos-7-level-1-scored-v2-1-0.yaml` should match the CIS pdf for CentOS 7, version 2.1.0, published on 06-02-2016. Not only do they overhaul the numbers between OSes, but even between major versions of the same OS.

Sigh...

[2017-08-22 20:49] whackyhack opened #165 "File system options should be checked with mount or like"
Presently most if not all file system options (e.g., CIS-1.1.15 for CentOS 7 v2.1.0, /dev/shm nodev) are implemented with grep fstab.  This can produce false positives with file systems such as /dev/shm that uboot creates before ever coming to /etc/fstab; just as well, this can easily be spoofed to produce false negatives when a system is compromised.

Proper implementation should use "command" mo

[2017-08-22 21:43] whackyhack commented on #165
Just saw that "command" module was deprecated.  Is there a replacement so 'mount' output can be examined?

[2017-08-23 16:50] basepi commented on #165
Our solution has been to use `misc.py` where you can code specific checks without the risk of being able to do arbitrary command execution through hubblestack_data.

[2017-08-24 02:29] fossam commented on #165
@whackyhack  Would _/proc/mounts_ be an good source?

[2017-08-24 06:42] whackyhack commented on #165
@fossam Bingo!  This will not work for every OS but as far as Linux goes, this is excellent.  Thanks for shedding the light.

[2017-08-28 22:52] whackyhack commented on #165
PR 58 merged in hubblestack_data fixes this issue.

[2017-08-28 22:52] #165 closed

[2017-08-28 22:53] whackyhack commented on #155
PR 56 merged in hubblestack_data fixes this

[2017-08-28 22:53] #155 closed

[2017-08-28 23:49] whackyhack opened #171 "Disable spurious FS' should be blacklist, implemented with lsmod or the like"
Similar to issue #165, the current checks against /etc/modprobe.d (e.g., 1.1.1.* in CentOS 7 CIS V2.1.0) can produce both false positives and false negatives.

CIS benchmark audit uses lsmod.  Also similar to #165, we can use /proc/modules for OS' using a Linux  kernel.

[2017-08-29 01:09] whackyhack commented on #171
There are more problems than just source of truth.  This group is designed as blacklist in CIS benchmarks but implemented as whitelist.  This would give the exact opposite output if not for yet another problem, the inclusion of "match_output: /bin/true" which is never satisfied. (Hence the implementation produces perpetual false negatives.)

[2017-08-29 21:48] basepi commented on #171
Good catch! Thanks for the report.

[2017-09-11 18:28] whackyhack opened #179 "False negative and false positive in sshd_idle_timeout"
CIS benchmark recommendss "ClientAliveInterval is 300 or less and ClientAliveCountMax is 3 or less."  But the implementation uses string match.  This can cause false negatives and false positives.

For example, centos-7-level-1-scored-v2-1-0.yaml
[code]

[2017-09-11 18:30] mew1033 commented on #179
We've talked about solving this with an awk module. @fossam, would that be possible?

[2017-09-11 18:46] whackyhack commented on #179
It can be solved within grep.

[2017-09-11 18:51] whackyhack commented on #179
BTW, @mew1033 can you review my pull for issue #171?  I'll have to work from the same file set on this.

[2017-09-12 17:50] whackyhack opened #180 "hubble.audit grep module interprets some double quoted regex wrong"
In working on Issue #179, I notice that the type of quote has an effect on result when some regex constructs are used.  Specifically, this expression
[code]
When single quoted ('), or no quote at all (another slight surprise), it works correctly.  But when double quoted (") it would not function at all; the net result is that the item would be skipped.  I can't get much sense from DEBUG output, ei

[2017-09-13 10:25] chrispetsos opened #181 "Os_version mismatch with the one reported from vulners.com"
Vulners.com reports 'OSVersion' as found in 'osrelease' grain rather than as in 'osmajorrelease'.

This is an expert of my Ubuntu 14.04 minion grains,

Now, download the CVEs for this machine from,
http://vulners.com/api/v3/archive/distributive/?os=ubuntu&version=14.04
You'll notice how OSVersion is reported,

See that it matches with the 'osrelease' grain rather than with the 'osmajorrelease'.
So

[2017-09-13 10:33] chrispetsos opened #182 "Allow the ability to whitelist packages for CVE scans."
Imagine the following use case:
- Package X is found vulnerable during the CVE audit.
- Upgrading package X imposes a rather large update in the whole OS, so I decide not to upgrade it.
- Package X's vulnerability does not affect me very much, in the sense that I can live with it.

Allow me to whitelist package X so that it does not get reported as vulnerable during audits.

[2017-09-13 20:52] basepi commented on #181
Thanks for the catch and the fix!

[2017-09-13 20:53] #181 closed

[2017-09-13 21:06] basepi commented on #182
Very good use case. I left a comment on your PR -- easy fix and then we'll get it in!

[2017-09-13 21:33] basepi opened #183 "Error reporting for yaml errors in hubblestack_data"
Ref https://github.com/hubblestack/hubble/issues/180

YAML errors, such as the one caused by the `\d` inside of double quotes as shown below, are not being logged by the hubble loader. We need to log these errors or we can't know what's wrong with our profiles.

[code]

cc @whackyhack

[2017-09-13 21:33] basepi commented on #180
To clarify:

[code]

and

[code]

work, but

[code]

doesn't work?

The problem is your `\d` in your regex. YAML treats unquoted and single quoted strings as literals that need no escaping. This is useful in most cases. However, it reserves double quotes for escape strings. Inside of double quotes, `\` is interpreted as an escape character. So to do a `\d` in double quotes you have to do `"\\d"` t

[2017-09-13 21:33] #180 closed

[2017-09-14 00:34] whackyhack commented on #180
Excellent.  Doubling `\\` in quote is a way of life in many languages, no problem at all.  Thanks for the pointer.

[2017-09-14 00:37] whackyhack commented on #171
Fixed in hubblestack_data PR 60

[2017-09-14 00:37] #171 closed

[2017-09-14 06:44] chrispetsos commented on #182
OK, done.

[2017-09-14 12:59] chrispetsos opened #184 "CVE audit returns less vulnerabilities than those on vulners.com"
I have a CentOS salt minion which I perform CVE audits on. I currently get 7 vulnerabilities on it. I perform the checks for this machine on vulners.com with the method described here,
https://vulners.com/audit
and I get 10 vulnerabilities. After a close observation of the two results, I see that the hubble-salt CVE audit returns only one, single vulnerability for a package which my machine has se

[2017-09-14 19:23] #182 closed

[2017-09-14 19:25] #179 closed

[2017-09-14 19:25] basepi commented on #179
Fixed in https://github.com/hubblestack/hubblestack_data/pull/65

[2017-09-14 19:29] basepi commented on #184
I'm guessing it just finds the first one that matches and returns that. It's not an intentional design decision.

I wonder if the vulners_scanner (cve_scan_v3.yaml) would return all 10? That version uses their newer API.

[2017-09-14 19:50] chrispetsos commented on #184
Well, even if v3 of cve scan returns the correct vulnerabilities, it
doesn't cover our use case. Our minions don't have internet connectivity so
they cannot just POST to vulners.com API. We like the idea of v2 with
offline audits from static json files served from the salt master. How
about me patching the v2 scan so that it returns vulnerabilities for all
versions of a package for this issue?

On

[2017-09-14 20:17] basepi commented on #184
That would be awesome. I was mostly just curious if the v3 had the same issue, but I bet it doesn't since it sends the package information to vulners for procvessing.

[2017-09-14 22:17] basepi commented on #183
Ha! I already did this and forgot about it...... https://github.com/hubblestack/hubble/pull/153/files

[2017-09-14 22:17] #183 closed

[2017-09-15 00:02] whackyhack commented on #183
Fantastic!  Since they are Python, can I copy the 5 changed files into my RPM deployed servers? (Or, just one server for testing.)

[2017-09-15 05:36] basepi commented on #183
It might work, though if you're using our RPMs then they're built with pyinstaller, and the pyinstaller magic could potentially break the normal modularity of python -- I'm not sure.

In any case, the only file you need is `nova_loader.py`. The others are unrelated to this fix.

[2017-09-15 17:14] whackyhack opened #188 "False negative, false positive in Nova CIS scan for sshd_gracetime"
Like several others, this one uses literal output_match, leading to possible false negatives and false positives.  In some profiles, pattern is not anchored to exclude comment lines, which leads to more possible false negatives. (I already have a patch using regex.)

[2017-09-15 17:28] whackyhack commented on #188
Some other checks also have `pattern` anchoring-literal `match_output` combinations, leading to more possible negatives.  At least for sshd_config checks, they all should be `pattern`-anchored or regex.   I'll be examining them when I get leisure time.

[2017-09-15 17:31] basepi commented on #188
Fixed by https://github.com/hubblestack/hubblestack_data/pull/68

[2017-09-15 17:31] basepi commented on #188
And thank you, @whackyhack! You've been doing amazing work.

[2017-09-16 01:47] whackyhack commented on #188
No problem - I should mention that I'm grateful that my employer, ThreatMetrix, is allowing me to cover the extended set.

[2017-09-16 01:59] whackyhack commented on #84
This must have been fixed some while ago.  The following would have uncovered any trailing white space before $.
`
$ sed -n /sshd_approved_cipher/,/description/p *.yaml |fgrep ' $'
`

[2017-09-16 02:13] whackyhack commented on #90
CIS' entire "Configure Logging" section (4.2 in CentOS 7 v2) is a mess.  This one is just the tip of the iceberg that has an easier fix.  Even though 4.2.3 says "Ensure rsyslog or syslog-ng is installed (Scored)", every other bullet under 4.2 goes with either rsyslog stuff or syslog-ng stuff.  A laundry list audit will give many false positives - nearly always 50%.

To really solve this problem, w

[2017-09-17 18:52] Inveracity opened #191 "grep.py TypeError: 'in <string>' requires string as left operand, not int"
Heya, I'm getting the following error when i run `hubble.top`

[code]

I tried the develop branch and the 2017.8.3 branch (hubble-salt)

[2017-09-18 16:00] #188 closed

[2017-09-18 16:01] basepi commented on #84
You're right, thanks for checking this.

[2017-09-18 16:01] #84 closed

[2017-09-18 16:02] basepi commented on #90
You are indeed right. Frustrating, we may have to do some pretty big architectural changes to get those right.

Or, more probably, we'll just write a misc.py check for them that can wire it all together with python.

[2017-09-18 16:13] basepi commented on #191
Can you try running `salt-call hubble.top -ldebug` and see if there's a better stacktrace in the logs for that error? If you'd prefer you can just gist.github.com the results and I can look through.

[2017-09-19 22:36] #106 closed

[2017-09-19 22:37] basepi commented on #106
Fixed in #176 and #129

[2017-09-19 23:42] mew1033 commented on #102
I think this was fixed in #194

[2017-09-19 23:42] #102 closed

[2017-09-19 23:48] mew1033 commented on #111
This can be done with osquery. Something like:

    SELECT * FROM hash WHERE path='/path/to/file'

Were you thinking something osquery independent? If you added it to osquery, it would return the hash every x time (fifteen minute, hour, day).

[2017-09-19 23:54] mew1033 commented on #114
For refreshing grains, could we just use this: https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.saltutil.html#salt.modules.saltutil.refresh_grains ?

[2017-09-20 01:40] basepi commented on #111
Nah, that should work nicely. If we ever want to, we can add something that is longer than daily.

[2017-09-20 01:40] #111 closed

[2017-09-20 01:41] basepi commented on #114
Nope. That requires a full minion to be spun up. I have to generate them manually. I don't think it will be terrible.

[2017-09-20 16:30] basepi opened #198 "Add some sort of generic team/product/site/whatever identifier grain"
Related to https://github.com/hubblestack/hubble/pull/197

We should add something more generic that you can add to your config and it will be added to grains. We can even fall back to this in our splunkindex grain.

[2017-09-20 20:53] fossam opened #199 "return cpu time spent running a task (nebula, or other applicable module)"
To know better when tasks/queries are taking longer than expected or reasonable, report time cpu has spent on it.

It needs to be decided if a good place to do this is in the sourcetype=hubble_log or with every applicable event. But there has to be a way to link the offending task with the data about it.

[2017-09-20 21:43] fossam opened #200 "ability to get output from commands/queries from things other than osquery"
At times osquery can't give specific data that we're looking for. Well vetted and safely run commands can give additional data that can be very useful.
The commands/queries would be similar to the nature of commands that run under _nova_ modules.

[2017-09-20 22:06] basepi commented on #199
I mean, we'll have the host information, and nothing except pulsar runs more often than 15 minutes, so dumping it into log should be fine.

I wonder if Python can do any of this monitoring, or if we'll just have to wrap all of our nebula queries in `time`?

[2017-09-20 22:08] basepi commented on #200
So is this going to be another `misc.py` module but for nebula? I'm not sure how else to do this without shipping actual commands in hubblestack_data. You can't have something that can execute generic commands without having a security issue.

[2017-09-20 23:01] basepi commented on #200
So after talking further with Andres, we anticipate chaining together multiple safe functions in a similar way that I do in the [nova command module](https://github.com/hubblestack/hubble/blob/develop/hubblestack/files/hubblestack_nova/command.py). We'd have a nebula.awk and a nebula.netstat, etc, that we can chain together with ands and ors. I'm not sure if this belongs in nova or nebula....it de

[2017-09-21 10:42] Inveracity commented on #191
Apologies for the wait, here's the full debug output:

https://gist.github.com/Inveracity/c1b5c3eda1efebb51dfaf01ea06fb179#file-hubble-top-debug-output-L421

Thank you

[2017-09-21 17:37] whackyhack opened #201 "CentOS 7 RPM should run daemon-reload in post-install"
`
systemctl daemon-reload
`
Otherwise systemd would not recognize installed service unit.

[2017-09-21 23:16] mew1033 commented on #199
It'd be cool if we could report how long tasks are taking _while they're still running_. Then we can have an alert that fires if tasks are taking longer than x.
However, that might require multithreading or multiprocessing, which I know we've been trying to avoid...

[2017-09-22 04:27] fossam commented on #201
fpm capability - lines in question:
https://github.com/hubblestack/hubble/blob/03ed98c39ec6256b732768f3bf87a4efa8e43241/pkg/centos7/Dockerfile#L136-L142

[2017-09-22 04:50] basepi commented on #199
We won't be avoiding it forever, I've just been focusing on the low-hanging fruit.

But why do we care while they're running? Assuming they eventually exit, we'll know how long it took, and we're not watching closely enough for real-time events to be actually useful. If they don't eventually exit, the host will disappear from splunk and we'll catch it that way.

[2017-09-22 04:51] basepi commented on #201
HOLY CRAP when did github start actually embedding linked code blocks? That's amazing!

I'm not sure what we'll have to do in fpm to get this done. I assume it has some sort of post install flag. We'll do some looking. I know how to do it in a specfile, just not with fpm.

[2017-09-22 04:54] mew1033 commented on #199
I guess that's true. I was thinking it'd be a good way to quickly identify rogue queries.

[2017-09-22 04:58] basepi commented on #199
It would be cool, but I think introduces unnecessary complexity to whatever multiprocessing system we eventually go with. If it's super easy to add when we switch to a parallel architecture then I'm fine with adding it, I just don't think it's worth working hard for.

[2017-09-22 08:37] Inveracity commented on #191
it turns out that
[code]

is an integer if the value is 0

added the debug lines:
[code]

when the tag_data is a 0, it's interpreted as an integer:
[code]

however, when it's anything else, it's interpreted as a string
[code]

[2017-09-22 21:27] whackyhack opened #202 "hubblestack RPM should not require git"
GITFS is just one of the methods to install profiles - perhaps not the method of choice for production systems, git should not be a hard requirement in RPM.

[2017-09-23 23:05] fossam commented on #202
I agree. Having git as a package requirement is not ideal from deployment perspective since it pulls in lots of other dependencies.

However, gitfs is used for Hubble (and salt itself) that runs under salt management in production systems.

Packaging statically compiled git binary with Hubble and getting the code to use that binary has been on my Todo list for a while.

[2017-09-23 23:26] fossam commented on #199
This request is solely based on the issue that there is no feedback when a query or a task takes long time to return. Being blind to performance impacts of the things Hubble runs should be avoided. It is  hard to foresee all possible situations so this kind of data should give good insight.

In short, the issue just states the need for this data and is agnostic to underlying implementation or soft

[2017-09-25 19:32] basepi commented on #191
Odd. We should just surround the 0 with quotes in the yaml, that should fix this.

[2017-09-25 19:35] basepi commented on #202
I have git as a dep purely because it's the most popular fileserver backend for salt, and thus is probably going to be the most popular for hubble. It's also one of the easiest dependencies to source.

I'd be fine with pulling a standalone git binary into the package. But I do not want to add additional install steps, forcing the user to install it manually.

[2017-09-25 22:29] #107 closed

[2017-09-27 09:15] chrispetsos opened #209 "Allow verbose output in Hubble Nebula - string indices must be integers, not str"
Issuing,
`salt '*' nebula.queries day verbose=True`
results in,

[code]
This does not happen if I issue the command without verbose=True.

[2017-09-27 22:42] basepi commented on #209
I left a comment on your PR asking for more output. I just want to make sure we fix this correctly.

[2017-09-28 06:09] yassingh opened #210 "Nebula fails if osquery is not able to run a query"
In Ubuntu 14, osquery fails when it tries to execute the following query:
[code]

I get the following error if I try to run this query manually using osqueryi:

[code]

The result object returned to nebula module does not contain any 'data' key, so the code fails and logs are not pushed for the whole group of nebula queries. Logs:

[code]

[2017-09-28 06:44] basepi commented on #210
Good catch! We should fix nebula to not error out all the way if there's a bad query.

(Also I edited your issue -- you can use triple backticks to do code blocks, rather than backticking each line manually. Click edit on your issue to see how it looks.)

[2017-09-28 09:42] yassingh commented on #210
Thanks @basepi 👍  . The triple backticks trick is really what I was looking for while logging the bug.

[2017-10-04 18:39] fossam commented on #210
@yassingh Are there any special circumstances that might go into replicating this issue?
In preliminary testing I get this:
[code]

[2017-10-04 18:55] basepi commented on #210
Even if we fix the original error in the query, nebula should not fail so hard, so I'll leave this open either way.

[2017-10-05 06:06] yassingh commented on #210
@fossam
I encountered this issue with osquery 2.6.0 and 2.7.0 . I didn't try osquery 2.8.0 ( i am not sure that it's a stable release ).
Besides that , I tried this query on two Ubuntu 14 AMIs available to me. Perhaps those AMIs are Adobe specific, so I didn't mention them.

[2017-10-05 06:23] yassingh opened #222 "Unwanted error logs on using systemctl module"
https://github.com/hubblestack/hubble/blob/7bffc3c3fd2f6b6baef395e68a9afe5255259478/hubblestack/files/hubblestack_nova/systemctl.py#L79

This is not necessarily a bug. But just want to point it out.

On Centos 6, using the systemctl module to check if a service is running or not results in some error logs if the service is not running. For example, on running
```hubble hubble.audit``` , i get thes

[2017-10-05 18:17] fossam commented on #210
@yassingh Can you test this in a default (no flavors) 14.04 ubuntu (vmware/virtualbox/etc VM) install and tell me if you can replicate it. I can't but I'd like to know if I am overlooking something.

osquery 2.8.0 is stable enough to withstand this test. changes between 2.8.0 and 2.8.1 and minimal and should not affect this issue.

[2017-10-05 18:48] mew1033 commented on #201
Fixed in https://github.com/hubblestack/hubble/pull/221

[2017-10-05 18:48] #201 closed

[2017-10-05 20:21] basepi commented on #222
By default, salt (which we're using underneath) logs errors if `cmd.run` returns a non-zero exit code.

We should probably just submit a bugfix upstream for the sysvinit provider for the service module to call cmd.run with the `ignore_retcode=True` flag.

[2017-10-06 11:23] yassingh opened #223 "Unable to fetch profiles from azurefs on windows in hubble 2.2.8"
Hubble 2.2.8 is not able to fetch profiles from azurefs. I encountered this issue on windows server 2016. Here are some logs:
[code]
Here are some more observations :
1) Hubble 2.2.8 is working fine on amazon linux  ( bug only on windows)
2) Hubble 2.2.1 does not have this issue.
3) In hubble 2.2.1 installation, I tried replacing my local 'hubblestack/extmods/fileserver/azurefs.py' with the one at

[2017-10-09 13:44] yassingh opened #224 "Hubble 2.2.8 not functioning properly with azure machines"
I tried running hubble 2.2.8 on centos 6 and 7 ( on azure machines ). I encountered following issues

On centos6 ( azure ):
Hubble commands are not running at all.
[code]

On centos7 ( azure ):
on running hubble.audit, all sysctl commands are failing with following error:
[code]

However, hubble 2.2.8 is working fine on centos7 AWS.
Moreover, 'sysctl' command is itself working totally fine on cent

[2017-10-09 14:10] sumanmehta commented on #224
Could it be related to the CentOS version on which Hubble was built? It seems it is not able to find a library which it was able to find at compile time.

[2017-10-09 14:53] sumanmehta commented on #224
On Azure CentOS version 7.3, it worked fine for me.  Is it possible to make it compatible with both 7.1 and 7.3?

[2017-10-09 16:07] basepi commented on #224
Sounds good. I can't reproduce on CentOS 7.3 either. The centos 7 stuff might be similar to the amazon linux issues we had at ont point where hubble was including rpmlib which was causing rpm to have problems when run under hubble. If that's the case it should be pretty easy to fix in the same way we fixed the rpmlib issue (removing the library at build time)

[2017-10-09 16:07] basepi commented on #224
I'm going to see if I can find a centos6 server in azure to test with.

[2017-10-09 16:11] basepi commented on #224
(You could test my centos7 hypothesis by removing the copies of that libelf library from the hubble-libs directory)

[2017-10-09 16:14] basepi commented on #224
I can't reproduce on CentOS 6.8.

[code]

[2017-10-09 16:14] basepi commented on #224
(wa1 is one of our azure sites)

[2017-10-09 21:14] basepi commented on #223
@yassingh Can you try this new build? https://s3-us-west-2.amazonaws.com/hubblestack-releases/Hubble-v2.2.8.1-Setup.exe

@madchills can't reproduce the issue on this new build.

[2017-10-10 04:08] yassingh commented on #224
i deleted the file /opt/hubble/hubble-libs/libelf.so.1
hubble.audit is running smoothly now ( sysctl module also working fine ) 👍
your "centos7 hypothesis" seems correct

[2017-10-10 13:02] yassingh commented on #224
hi everyone, i just realized that it was a blunder from my side. I was trying to run a  wrong hubble build on centos7/6.It was actually meant to be installed on amazon linux os only.
Apologies for wasting your time and effort.
Now I have installed the correct hubble 2.2.8 build on centos 7 and 6, and it is working fine on azure as well as aws machines.
It is not a bug anymore, feel free to close i

[2017-10-10 13:22] yassingh commented on #223
I have testing the new build ( 2.2.8.1 ). It's working fine on windows. Files from azurefs are being fetched properly.
Thanks 👍

[2017-10-10 17:54] #224 closed

[2017-10-11 13:26] yassingh commented on #210
I didn't get time to test this issue on default hubble 14.04 ( actually i ran into some sort of error while installing hubble )

But I installed latest hubble (2.2.8.1 ) on the ubuntu machine on which i was getting osquery error earlier. **Now osquery is able to run this nebula query properly** .  This hubble (2.2.8.1) build comes with osquery 2.8 whereas the older build came with osquery 2.6.
I g

[2017-10-11 18:27] basepi commented on #210
(The git issue is separate and should be in a separate issue)

Glad the new version of osquery helped. I still want to fix the underlying hard fail, so this isn't as much of an issue in the future.

[2017-10-13 01:11] fossam opened #225 "Update osquery to 2.9.0"
osquery has released 2.9.0 with some security related fixes. [https://github.com/facebook/osquery/releases/tag/2.9.0](https://github.com/facebook/osquery/releases/tag/2.9.0)

[2017-10-13 14:25] basepi commented on #225
Hopefully it will be as easy as last time.

[2017-10-16 22:17] SaltyCharles opened #226 "Benchmark shows as failed even though the results match"
Windows 10 Custom Compliance Audit:
Module: `win_secedit.py`

Profile:
[code]

[2017-10-17 16:17] basepi commented on #226
@madchills This is already on your radar, right?

[2017-10-18 13:44] dgmorrisjr opened #228 "cve_scan_v2 returns empty set with Salt 2017.7.1"
Environment:
- RHEL 6.9
- Salt 2017.7.1
- Python 2.7.13
- hubble-salt v2017.9.0

Our environment is disconnected from the internet, so we must use cve_scan_v2 with downloaded json from vulners.com.

After a fresh basic install of RHEL 6.9, Salt 2017.7.1, and updating a basic install of Python 2.7.13, when trying to run a cve scan (using a configuration that worked successfully under Salt 2016), we

[2017-10-23 13:26] yassingh opened #231 "No way to provide 'less/greater than' option in win_firewall"
Consider the following check in 'windows-2016-level-1-scored-v1-0-0.yaml' :
[code]
This check would fail is the logging-size is set to some value higher than 16384.  But the higher values should also pass this test as per CIS benchmark. Is there any way to allow to higher values as well ?
( Unlike the win_secedit module, here 'value_type' can't be used to specify less/greater than option )
Is ther

[2017-10-24 00:03] SaltyCharles opened #233 "False negative in CIS-4.2.3 CentOS 7 Level1 v2.0-v2.1"
In nova profiles:

  If only one of these two are installed, the audit will return a failed result for the tool not installed, causing the result to be out of compliance.

[code]

[2017-10-24 14:52] madchills commented on #226
Yes, this is something I am working on over the next 2 weeks.  I should have a fix for it soon

[2017-10-24 15:38] fossam commented on #233
Valid point and I agree.

I think a good way to think about this is a mechanism for Nova to determine if the complete CIS-4.2.3 for Centos 7 fails or not.

I'll let @basepi and @mew1033 to weigh in if this could be fixed in some fashion, be a roadmap item, or a _won't-fix_.

[2017-10-26 21:48] basepi commented on #233
This is a valid issue and we should probably extend the pkg module to take a list of possible packages, either with an AND or an OR applied to them, with a single fail or success based on the results.

[2017-11-01 20:32] #225 closed

[2017-11-07 03:28] fossam opened #243 "Automatically manage and report a profile version string."
Currently on the siem side it is cumbersome to determine if a host has up to date hubblestack_data profile. Searching for missing fields or manually managing a query for profile version string can be error prone.

Hubble should deterministically come up with a profile version string and report it regularly.

[2017-11-07 17:41] #210 closed

[2017-11-08 01:09] fossam commented on #243
Wouldn't a version file be still a manual process?

One option is to depend on hashes of files in the hubblestack_data and somehow report their changes. _hubble_log_ might work.

[2017-11-09 23:05] basepi commented on #243
Yes, the version file would be manual. Hashes could also work. We just need something concrete, and even if it's manual it means we can give ourselves milestones when we need them.

[2017-11-29 05:53] anuragpaliwal80 opened #248 "Audit shows '[ERROR ] Problem occurred trying to invalidate hash cach for azurefs'"
I am not sure if this has been logged already so on a safer side logging a new ticket.

[code]

[2017-11-29 21:12] basepi commented on #248
It has not been reported. I'll look into it.

[2017-11-29 22:35] mattharrison opened #250 "This is not PEP 8 Compliant"
[Redacted] wanted me to tell you this. This is keeping her up at night.

https://github.com/hubblestack/hubble/blob/725722611c6dd01ef508fccb7f9e2bc1a73ac4dc/hubblestack/splunklogging.py#L194

[2017-11-29 22:45] basepi commented on #250
Hahahaha then tell [Redacted] to send in a PR!

(In my defense, that's not my code! Except it's in my project, so I guess it's my code.)

[2017-11-29 22:46] basepi commented on #250
Also, [obligatory link](https://www.youtube.com/watch?v=wf-BqAjZb8M)

[2017-11-30 00:03] basepi commented on #248
I fixed it in #251. It's a false positive that you can ignore for now, I think.

[2017-11-30 00:11] timkim opened #252 "Logo Idea"
Hey there @basepi

We met briefly at the Adobe Open Source Summit and I said I was interested in creating you a logo for this project. I think I remember you asking for something flattish design? In any case, I've come up with an idea attached here. Let me know if this is something that you're looking for.

Large:
![hubble2-sized](https://user-images.githubusercontent.com/57922/33405969-73aee13c-d

[2017-11-30 17:03] #248 closed

[2017-11-30 22:00] basepi commented on #252
This is pretty awesome! I wish I were more artistic.

The logo itself looks great but is a touch busy, especially when it's small. It also doesn't really evoke a connection with hubblestack outside of the space telescope theme -- I wonder if we could modify the dimensions to evoke more of an H shape.

For example, this is one that we've been looking at:

![hubblestack-h](https://user-images.github

[2017-12-01 01:53] fossam commented on #252
I think overall timkim's design is pretty to look at and fits great on stickers. If we want to fit it into a favicon format it cold lose details like the solar panel grids, but that's for really small formats.

[2017-12-01 22:25] basepi commented on #252
Ooh, yeah, now I really want a sticker! We may have to try to find a way to incorporate both, maybe for different uses.

[2017-12-01 22:26] basepi commented on #252
@timkim any chance you have an SVG version I could toy with?

[2017-12-01 22:37] timkim commented on #252
Yep - attached is a zip of the svg and ai files.
[hubble.zip](https://github.com/hubblestack/hubble/files/1523178/hubble.zip)

I'll see what I can come up with the H shape in mind.

[2017-12-05 23:32] timkim commented on #252
Ok, here's another iteration of the logo. I have kept in mind the H shape and the busyness of the previous attempt. We can talk about colours next if you like the shape of this design.

![hubble3_bw](https://user-images.githubusercontent.com/57922/33636525-6e3e7fe4-d9d1-11e7-8292-db52456ab66d.png)
![hubble3_bw_small](https://user-images.githubusercontent.com/57922/33636527-71134010-d9d1-11e7-9401-

[2017-12-06 23:14] basepi commented on #252
Ooh, I like this one quite a bit. Once we get some color in it it could be really awesome! @cedwards thoughts?

[2017-12-11 22:16] timkim commented on #252
Okie dokie, here's a colour scheme that I'm trying. Still playing around with it, but I'm liking it.
![artboard 1](https://user-images.githubusercontent.com/57922/33856731-e4b71d2e-de7d-11e7-8b0c-bf6cf522a600.png)

[2017-12-16 20:37] basepi commented on #252
I'm not sure I'm digging the yellow, but I'm also not sure what I would replace it with.... turns out I'm not a designer.

[2017-12-18 22:22] timkim commented on #252
We can go red or just go with a circle.

![artboard 1 4x](https://user-images.githubusercontent.com/57922/34131008-ce6496b0-e3fe-11e7-971f-ba914b5e0852.png)
![artboard 1 4x](https://user-images.githubusercontent.com/57922/34131017-d3277e7e-e3fe-11e7-9200-317194a84b44.png)

[2017-12-18 22:39] mew1033 commented on #252
I like the yellow or the white. Not loving the red though.

[2017-12-19 23:43] basepi commented on #252
Yeah, red didn't do it either. White is probably my favorite. @cedwards any thoughts?

[2017-12-21 18:17] fossam commented on #252
Comparison - the first one looks the the best, aesthetically speaking.
But the latest one has the idea of eye being in the middle. My only suggestion is to try and see how it looks with a dark background and somehow change/make the Hubble colors work with that. I think that would make the eye stand out more.

[2018-01-04 00:01] timkim commented on #252
Ok, I've reworked the design to be just flat and simple. I think the colours and the eye were taking away from the design.

Here's what it looks on a dark background:
![artboard 1 0 5x](https://user-images.githubusercontent.com/57922/34545060-02ce5588-f09f-11e7-903c-89adf530980f.png)

And I've also tested it on the website and I think it fits the website's theme nicely as well:
<img width="1320" a

[2018-01-08 23:35] mew1033 opened #262 "Change doc to blacklist"
https://github.com/hubblestack/hubble/blob/533525b2fbadcbb3c17eb7b8a628205613a05bed/hubblestack/files/hubblestack_nova/systemctl.py#L20-L29

Am I reading this wrong? Or should this example technically be a blacklist example, not a whitelist one?

[2018-01-17 19:20] sam0104 opened #266 "'hubble.sync' is not available for SLES11 SP4 minions ( Specific to SUSE )"
**# salt '*' hubble.sync
minion1:
    'hubble.sync' is not available.
minion2:
    'hubble.sync' is not available.

# salt '*' hubble.audit
minion1:
    'hubble.audit' is not available.
minion2:
    'hubble.audit' is not available.**

We are using hubble module for audit and it is wokring fine for RHEL and Centos but on SLES linux hubble.sycn is not working. For SLES the official salt-minion versi

[2018-01-17 21:11] alexpeay commented on #226
We are seeing this more and more as we roll hubble out, have you been able to isolate the issue? Are there any updates?

[2018-01-17 21:17] alexpeay opened #267 "Benchmark is not getting a found_value"
We are working on a set of checks that are trying to confirm that no user has access or permissions to take a specific action. These checks are all failing because we are not getting a found_value returned to us.  It may be that Windows is returning an empty set, which would be successful since no user (No One) has rights to do the specified thing, but since we do not have a found_value we can not

[2018-01-19 22:37] basepi commented on #226
I feel like we might have gotten this fixed but I'll check with @madchills

[2018-01-19 22:58] basepi commented on #262
Yes, it should be a blacklist.

[2018-01-19 23:01] basepi commented on #266
On the minion, can you do `salt-call hubble.sync -ldebug` please? I wonder if something is stacktracing at load time.

Also, did hubble.py show up in the sync results when you first did the saltutil.sync_all? You can clear the minion cache and re-sync to see fresh results.

[2018-01-19 23:03] basepi commented on #267
@madchills can you see if you can reproduce when you have a moment?

[2018-01-29 06:08] madchills commented on #231
https://github.com/hubblestack/hubble/commit/0aa34845fc07605f240f5d2c975bdefd8c1af67e

[2018-01-29 06:08] #231 closed

[2018-01-29 06:14] madchills commented on #226
This is a 2 part fix.  The first is the fix for putting the SID directly into the YAML and having it match correctly.  This has been fixed in my most recent pull request https://github.com/hubblestack/hubble/pull/275

The second fix will be to put the SID directly into the yaml for matching.  There is no good way to have windows pull the sid of 'NT SERVICE\WdiServiceHost'.  So putting the SID dire

[2018-01-30 22:42] #262 closed

[2018-02-01 16:30] sam0104 commented on #266
Is there any update on this issue ?

[2018-02-03 03:09] basepi commented on #266
Sorry for the delay. This seems like an incompatible version of salt -- notice the `import requests` and `import six` lines that are failing in those logs. Salt (and hubble) definitely require those libraries, so something weird is going on.

Ideally you should be able to open a python shell, and do the following imports with no errors:

[code]

Unfortunately I don't have any SLES experience so I'

[2018-02-05 09:35] anuragpaliwal80 opened #279 "Getting InsecureRequestWarning warning in hubble log"
I think we have discussed this before, logging the ticket to keep track of this issue.
hubble log file shows:

`[py.warnings    ][WARNING ] /opt/hubble/hubble-libs/urllib3/connectionpool.py:858: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings`

[2018-02-05 17:43] wschmrdrNS opened #280 "False Flags on User Home Directories"
In the misc.py module, the functions "check_all_users_home_directory", "check_users_home_directory_permissions", and "check_users_own_their_home" have inconsistent script checks with what is available in "CIS_Ubuntu_Linux_16.04_LTS_Benchmark_v1.1.0.pdf", in that they do not skip the users that have a shell of "/bin/false" or "/user/sbin/nologin". This is causing the user "nobody" to be flagged as

[2018-02-05 17:51] wschmrdrNS opened #281 "Typo on system_account_non_login"
In misc.py for Nova, the function system_account_non_login is looking for "/sbin/nologin", while the CIS Ubuntu Linux 16.04 LTS Benchmark v1.1.0 spec that has a similar script check under CIS-5.4.2 is looking for "/usr/sbin/nologin". This is coming up as a False Flag when running this function against Ubuntu 16.04, while a manual run using the script in the spec comes out as a Pass.

[2018-02-05 22:15] basepi commented on #280
@anuragpaliwal80 @vishsriv I think this is your code. Would you mind taking a look when you get a moment?

[2018-02-05 22:17] basepi commented on #281
@yassingh Would you mind looking at this one when you get a chance? It looks like this is mostly your code.

[2018-02-06 09:22] yassingh commented on #281
Sure. I will take it from here.

[2018-02-06 09:27] yassingh commented on #281
You are right @wschmrdrNS . In misc.py, the  system_account_non_login function is looking for "/sbin/nologin". But CIS spec is asking to look for "/usr/sbin/nologin".
So, I have already modified misc.py. Now the the path to non-login shell can be passed using a parameter. For example:
https://github.com/hubblestack/hubblestack_data/blob/develop/hubblestack_nova_profiles/cis/ubuntu-1604-level-1-sco

[2018-02-06 16:22] sam0104 commented on #266
Here is Python import output from SLES VM

hdbdb:~ # python
Python 2.6.9 (unknown, Apr  7 2015, 08:28:12)
[GCC 4.3.4 [gcc-4_3-branch revision 152973]] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: No module named requests

Traceback (most recent call last):
  File "<stdin>", li

[2018-02-06 16:23] sam0104 commented on #266
Here is salt-call command output

hdbdb:~ # salt-call --versions-report
Salt Version:
           Salt: 2016.11.4

Dependency Versions:
           cffi: Not Installed
       cherrypy: Not Installed
       dateutil: Not Installed
      docker-py: Not Installed
          gitdb: Not Installed
      gitpython: Not Installed
          ioflo: Not Installed
         Jinja2: 2.6
        libgit2: Not Instal

[2018-02-06 17:05] sam0104 commented on #266
I can see in SLES VMs six and requests python modules were missing. I installed them using pip and restarted salt-minion service and now hubble.audit is working fine. Thanks for pointing to the root cause.
I will close this issue as no further action is required.

Fix 👍 👍
zypper install python-pip
On SLES minion :
pip install six
pip install requests
service salt-minion restart

on Salt-Master:
sa

[2018-02-06 19:48] basepi commented on #266
Awesome! Glad you figured it out. Weird that salt didn't ship with requests.... It's still listed as a dependency on their installation docs.

[2018-02-06 20:17] wschmrdrNS commented on #281
Is the hubble-salt project also going to be updated to account for this? We are presently using that in order to hook into the nodes that our master already has.

[2018-02-06 20:56] sam0104 commented on #266
It could be the issue with salt minion for SUSE only as it has older version (2016) compare to other Linux flavor. Is there a way to verify if SUSE salt minion has these three modules as part of installation ?

[2018-02-06 21:00] sam0104 commented on #266
From Saltstack official repo for SUSE11 SP4 I could not find requests module .
http://repo.saltstack.com/opensuse/SLE_11_SP4/

[2018-02-06 22:41] basepi commented on #266
It appears to be there for the centos/debian/ubuntu builds. Not sure why it would be missing from SUSE. Guess we may have to add an installation note. Requests is definitely required for hubble. (And I sure thought it was required for salt)

[2018-02-07 09:41] yassingh commented on #281
I guess so.
But I am not the correct person to give any commitment about it.
@basepi can provide more info about "hubble-salt"/"hubble" syncing process.

[2018-02-07 20:48] basepi commented on #281
Yes, we'll make sure we get it backported. Actually I should probably go through all the modules before our next release and make sure the changes get backported where possible.

[2018-02-07 20:56] #266 closed

[2018-02-09 14:22] wschmrdrNS opened #287 "Bug with check_directory_files_permission"
In hubblestack_nova/misc.py , the function check_directory_files_permission has a bug in it on the develop branch:

The "path" parameter is not being used. Relatively, the _execute_shell_command call is always calling "/var/log". I think you may have meant to put the path variable in there?

This function should help to fulfill CIS-4.2.4 in the Ubuntu 16.04 v1.1.0 spec: Ensure permissions on all l

[2018-02-12 22:08] basepi commented on #287
Good catch. @anuragpaliwal80 can you grab this one? Note that if we just add the path into that command we'll end up with a command injection vulnerability, so we'll need to run that command with `python_shell=False` on the cmd.run, which is not the default for `_execute_shell_command()`.

[2018-02-26 10:17] anuragpaliwal80 opened #294 "Hubble service should not be started as soon as you installs it"

[2018-02-26 22:22] basepi commented on #294
What are your thoughts on restarting the service on upgrade?

[2018-03-01 05:12] anuragpaliwal80 commented on #294
I think if possible lets keep in stop state and let user starts it explicitly when they want.

[2018-03-01 20:18] sam0104 opened #299 "New feature request for using pillar data in hubble profile YAML file"
New Feature request for using pillar data in hubble profile YAML file. This will help to customize any pattern search or commands to be replaced by pillar value and no need to hard code it in YAML file. Also it will allow to make system related audit like timezone , version match and any specific pillar value based on different environment.

Background #  https://github.com/saltstack/salt/issues/4

[2018-03-06 16:33] basepi commented on #299
I think this would be a great feature and should be reasonably straightforward to implement.

[2018-03-06 16:53] fossam commented on #294
@anuragpaliwal80 Have you considered the risk of users forgetting to do this?
And as @basepi suggested, what about a restart?

Basically, let's have a more spelled out reasoning for why it should be this or that way.

[2018-03-12 13:24] anuragpaliwal80 commented on #294
Basically I was thinking of having same behavior for users. Either they install fresh build or upgrades it, they should explicitly start the service without assuming that it will be started automatically in case of upgrade.
But I agree with @basepi as both cases have it's pros and cons.

[2018-03-13 18:57] basepi commented on #294
Yeah, for us we have our default_hubble index which is pre-populated in our internal packages. So having it start on install is nice so we can have visibility into the host even if it the user forgets to configure it. So I'm torn...

[2018-03-15 18:37] sam0104 opened #310 "Win_firewall.py module is giving error though it is not in use in profile YAML file on Windows2008R2 minions"
salt '*ws*' hubble.audit OS_Win   : Executing audit only for Windows minions where I have 3 Windows minions ( 2008, 2012 and 2016 ) but below error is only on windows 2008R2 server only

**error only on Window 2008 R2  minions only**

Error

ti-qa-ws**2008r2**.lab04.local:
    ----------
    Compliance:
        53%
    Errors:
        |_
          ----------
          \modules\win_firewall.py:

[2018-03-15 19:01] sam0104 opened #311 "/modules/stat_nova.py giving error for RHEL6 minion"
salt pj-rhel6-sensoring.lab04.local hubble.audit OS_Linux    . This is only on RHEL6 VM . We have  other linux VM ( Centso6 , Cetos7 , RHEL7 ) but error is specific to RHEL6 which is on Red Hat Enterprise Linux Server release 6.9 (Santiago) .

[code]

[2018-03-15 19:28] basepi commented on #310
This is a side effect of how nova modules are executed. All nova modules are executed in order, and given all the profiles. They filter only the data they care about, execute, and return the results. Looks like there's a bug in that filtering that's bubbling up this error despite not actually having any win_firewall data to process.

Could you run that job on the minion side with `salt-call`? `sal

[2018-03-15 19:30] basepi commented on #311
That's odd. Does that path exist? Also can you run `salt-call hubble.audit OS_Linux -ldebug` on the host in question so we can see the whole stacktrace? Thanks!

[2018-03-16 13:06] sam0104 commented on #311
Here is the output

[root@sm-qa-flat-salt ~]# salt-call hubble.audit OS_Linux -ldebug
[DEBUG   ] Reading configuration from /etc/salt/minion
[DEBUG   ] Including configuration from '/etc/salt/minion.d/_schedule.conf'
[DEBUG   ] Reading configuration from /etc/salt/minion.d/_schedule.conf
[DEBUG   ] Using cached minion ID from /etc/salt/minion_id: sm-qa-flat-salt
[DEBUG   ] Configuration file path:

[2018-03-16 13:10] sam0104 commented on #311
Here is the output from impacted minion ( RHEL6 )
[root@pj-rhel6-sensoring ~]# salt-call hubble.audit OS_Linux -ldebug
[DEBUG   ] Reading configuration from /etc/salt/minion
[DEBUG   ] Including configuration from '/etc/salt/minion.d/_schedule.conf'
[DEBUG   ] Reading configuration from /etc/salt/minion.d/_schedule.conf
[DEBUG   ] Using cached minion ID from /etc/salt/minion_id: pj-rhel6-sensoring

[2018-03-16 13:30] sam0104 commented on #310
local:
    ----------
    Compliance:
        53%
    Errors:
        |_
          ----------
          \modules\win_firewall.py:
              ----------
              data:
                  KeyError: 'Name'
              error:
                  exception occurred
    Failure:
        |_
          ----------
          OS_Win_v2012-12:
              Password complexity requirements must be set t

[2018-03-16 13:41] sam0104 commented on #310
Here is the salt-call debug logs from Windows 2008R2 minion

PS C:\salt> salt-call.bat hubble.audit OS_Win -ldebug  | out-file -filepath c:\out.txt
[DEBUG   ] Reading configuration from c:\salt\conf\minion
[DEBUG   ] Including configuration from 'c:\salt\conf\minion.d\_schedule.conf'
[DEBUG   ] Reading configuration from c:\salt\conf\minion.d\_schedule.conf
[DEBUG   ] Configuration file path: c:\s

[2018-03-16 13:44] sam0104 commented on #310
We are not using any Windows firewall related checks in OS_WIn.YAML file but salt still executing the below firewall command

**[INFO ] Executing command 'Powershell -NonInteractive -NoProfile "Get-NetFirewallProfile -PolicyStore ActiveStore"' i
n directory 'C:\Users\Administrator'
[ERROR ] Command 'Get-NetFirewallProfile -PolicyStore ActiveStore' failed with return code: 1
[ERROR ] output: Get-Ne

[2018-03-19 22:44] basepi commented on #310
Odd. We will look into this.

[2018-03-19 22:47] basepi commented on #311
Thanks. I didn't have time to investigate this today, but I should tomorrow.

[2018-03-20 09:35] yassingh opened #313 "gitFS constructor error"
I was trying to run a build created with the latest code in develop branch. I got an error looking like this:
[code]
It seems to be related to this code change:
https://github.com/hubblestack/hubble/commit/ed2349e519e59965b30bdc45f52e2188adb20921

[2018-03-21 16:38] jettero commented on #313
I ran into this yesterday myself. I was just testing on a branch and got the above. pip installed 2017.x.x and it had the unknown init form. I slogged through a bunch of the  history in 2017 and never did find that older form.

This morning, pip seems to be installing 2018.3rc0. Try `pip install --upgrade salt-ssh` and see if this goes away?

[2018-03-21 17:02] basepi commented on #313
It appears that all the arguments have defaults in the new code, so I think I can fix this for backwards compat. Or we can just peg to the new version of salt since we own the dependency chain with our pyinstaller packages.

[2018-03-21 17:08] basepi commented on #313
Scratch that. The default arguments will not give me the results I want. For now, upgrade your version of salt-ssh and when we're prepping the release we can see if it breaks anything.

[2018-03-22 04:29] yassingh commented on #313
No problem 👍
Just wanted to bring this thing to notice.
( Feel free to close the issue )

[2018-03-22 20:21] #313 closed

[2018-03-23 21:38] basepi commented on #311
Fixed in https://github.com/hubblestack/hubble/pull/315

[2018-03-23 21:38] #311 closed

[2018-03-26 14:14] sam0104 commented on #311
Can I take the latest files for hubble from master branch and test or just replacing stat_nova.py  under  hubblestack_nova/modules/  should work fine ?

[2018-03-26 20:46] basepi commented on #311
I just realized we haven't ported this fix to hubble-salt, it's just in hubble. Taking the file by itself should work, but I'm not 100% sure. I need to do some serious porting work before our next release.

[2018-03-26 21:09] sam0104 commented on #311
I tried to copy the module file and replaced with old one. Then tried salt '*' saltutil.sync_all  and salt '*' hubble.sync  but still have same error while running again RHEL6

[2018-03-30 13:15] sam0104 commented on #311
It is working by just replacing the stat_nova.py file under hubblestack_nova/ . I need to run below commands before trying hubble.audit

salt '*' saltutil.clear_cache
salt '*' saltutil.sync_all
salt '*' hubble.sync

Thanks

[2018-03-30 13:16] sam0104 commented on #310
Is there any update on this bug ?

[2018-03-30 16:08] basepi commented on #311
Theoretically it should work without the explicit cache clear. I wonder if something odd is going on with your fileserver config.....

In any case, I'm glad that the fix worked. Now I just need to clean up hubble-salt and port over all the latest changes.

[2018-03-30 16:09] basepi commented on #310
I have @madchills on it, but I know he's been swamped with other stuff in the last week or so.

[2018-04-03 18:00] sam0104 opened #325 "hubblestack_nova_profiles/cis missing profile YAML files for SUSE Linux minions"
Latest hubblestack_nova_profiles missing audit for SUSE Linux minions.
While execuuting hubble.audit for SUSE Linux minions there is no CIS audit test.

**Can we add SUSE Linux profile YAML files and top.nova osfinger  for SUSE as it is missing ?**

[root@pj-ams-salt-master01 cis]# ll
total 932
-rw-r--r--. 1 root root  23370 Mar 29 16:07 amazon-201409-level-1-scored-v1-0-0.yaml
-rw-r--r--. 1 root

[2018-04-03 23:15] basepi opened #327 "Pulsar not recursively adding directory watches at startup"
It appears that pulsar is not recursively adding directory watches at startup.

For example, with this config:

[code]

If I add the directory `/root/sudoers.d/` *after* starting hubble, it will see its addition, add a new watch, and then any files inside of that new directory correctly trigger events.

However, if that directory is present when hubble is started, no files created or modified in t

[2018-04-04 21:02] basepi commented on #325
Our first SUSE user! We would love help adding suse profiles -- unfortunately I don't see us having time to add them ourselves in the near future, since we don't have any suse at Adobe.

You could probably get a lot of the data (though with incorrect tags in many places) by using the centos7 as a starting point.

[2018-04-04 21:36] sam0104 commented on #325
Thanks for including this as feature request . For SAP HANA most of the servers are in Suse and for many SAP customers they are using SUSE for SAP deployment . It should be good to have it . Thanks

[2018-04-04 23:28] basepi commented on #327
@jettero This doesn't appear to be fixed. Can you hit me up on slack if you're unclear on my reproduction steps?

[2018-04-06 18:45] jettero commented on #327
Just an FYI, I've been working on this like crazy. It's a total mystery still. I have that overload where the new `PulsarWatchManager.add_watch()` hands the `add_watch()` to the `super()` with `rec=True` like it's supposed to, but it's not actually watching it, doesn't claim to be watching it -- the return results from super add_watch don't contain the subdirs like it should -- and indeed doesn't

[2018-04-08 15:46] jettero commented on #327
ahh, I think I found it. Just have to figure it out quick.

[2018-04-10 17:48] #327 closed

[2018-04-11 10:00] lahdekorpi commented on #280
I can confirm this on Ubuntu 16.04. Running the CIS provided test script returns nothing while check_home_directory fails.

[2018-04-11 19:47] sam0104 commented on #311
One more issue found with new environment setup. While I already run clear_cache , sync_all and hubble.sync after copying latest module files still /var/cache/salt/minion/files/base/hubblestack_nova/stat_nova.py  has old file .

[2018-04-11 20:18] sam0104 commented on #311
Could you please confirm the source from where /var/cache/salt/minion/files/base/hubblestack_nova is being copied. I tried to delete the /var/cache/salt/minion/files/base directory and then run sync_all , hubble.sync still it was copying old module files which are not part of formulas/hubblestack_nova . For resolving the issue I just re-image the  OS and copy new modules files . After that it star

[2018-04-12 21:25] basepi commented on #311
I still think this may be a fileserver issue.

/var/cache/salt/minion/files/base is populated whenever a minion caches a file from the master. It hashes the file, sends that hash to the master, which compares it to the latest version in the fileserver. Only if it has a different version does it send a new one.

Can you share your fileserver_backend setting on your master and any file_roots or gitf

[2018-04-12 21:26] basepi commented on #311
(Basically, /var/cache/salt/minion/files/base/hubblestack_nova is never explicitly populated by a hubble module. Rather, we call `cp.cache_dir` and let salt handle it. You're running into a salt issue, not a hubble one)

[2018-04-17 12:03] jettero commented on #72
Since we merged #328 and #332, I think this issue is all set now.

[2018-04-18 15:03] fossam commented on #72
Can you describe your tests, @jettero ?

[2018-04-18 18:01] sam0104 commented on #311
Here file the configurations from /etc/salt/master

#fileserver_backend:
#  - roots

#gitfs_remotes:
#  - git://github.com/saltstack/salt-states.git
#  - file:///var/git/saltmaster
#

file_roots:
  base:
    - /srv/formulas
    - /srv/salt

pillar_roots:
  base:
    - /srv/pillar

[2018-04-19 14:08] jettero commented on #72
@fossam I have actual tests that I added to the git: https://github.com/hubblestack/hubble/blob/develop/tests/unittests/test_pulsar.py#L144

I tried to account for everything, but missed at least a few things (see #328 and #332).

I also run the hubble daemon and manually create folders and files and hardlink them out of there for testing purposes. Arguably there should be a test of that in the un

[2018-04-19 15:46] #280 closed

[2018-04-19 15:46] #287 closed

[2018-04-20 16:55] #72 closed

[2018-04-20 16:57] basepi commented on #311
I edited your comment with triple backticks for code readability.

I don't see anything hubble-related in that configuration. Also, it looks like the lines you included from /etc/salt/master are commented out?

Where is hubble-salt installed/included?

[2018-04-20 17:45] sam0104 commented on #311
hubble is installed as formula under /srv/formula.

file_roots:
  base:
    - /srv/formulas  :  Here Formula is covered
    - /srv/salt

[2018-04-24 21:13] deejay-sl opened #369 "."

[2018-04-24 21:14] #369 closed

[2018-04-25 15:12] fossam commented on #202
Fixed in #363

[2018-04-25 15:12] #202 closed

[2018-04-25 21:46] basepi commented on #311
OK, and gitfs is not enabled, correct? Can you show me `salt-call config.get fileserver_backend` on the minion in question?

[2018-05-03 07:05] anuragpaliwal80 opened #385 "[ERROR ] Command 'mount' failed"
We are seeing the following error. Looks like due to https://github.com/hubblestack/hubble/blob/develop/hubblestack/files/hubblestack_nova/misc.py#L370

[code]

After deleting this, it works fine.
Looks like it worked fine because mount command is working directly on the system but if it's missing on OS, then our function will not work (if we delete the file).

[2018-05-03 07:11] anuragpaliwal80 commented on #385
I am not 100% on how libmount.so.1 is getting installed inside our hubble-libs dir. May be because of mount.py module or command.py or may be because of some thing else?

[2018-05-03 07:53] fossam commented on #385
pyinstaller handles what files to include. It must be the differences of how different versions of pyinstaller do it, since for CentOS 6 for example, libmount.so was not included.

[2018-05-17 17:14] basepi commented on #385
Yeah we should probably start a "remove if present" list for libraries that pyinstaller tries to include. I'm betting that's also the issue with the CentOS 7.5 issues that @anuragpaliwal80 found.

[2018-05-22 19:01] fossam commented on #385
That list would be hard to maintain given that an arbitrary command can be issued. That is why I would avoid OS commands when possible. Shipping our own binaries would make dealing with dependencies from OS also easier.

[2018-06-12 22:45] zachsis opened #403 "Exception message too broad"
https://github.com/hubblestack/hubble/blob/44cf4a493bc74234980632116acfc2c66ad7569d/hubblestack/splunklogging.py#L361

Just a suggestion: While I was debugging why our hubble instance wouldn't connect to its splunk returner, I found this exception to be a little too vague to figure out what hubble was doing with the request/response. It Would be useful to print out the `requests.response.status_co

[2018-06-13 20:28] basepi commented on #403
This is a great suggestion. I agree that it's not super useful at the moment.

[2018-06-14 16:36] ryandamour commented on #403
I just submitted PR #404 to address this - https://github.com/hubblestack/hubble/pull/404

[2018-06-15 20:32] #403 closed

[2018-06-18 19:29] mcarpenterjr opened #406 "Running `./create_build_env.ps1` to create windows package ends with `error: invalid command 'install-pywin32-windows'`"
When creating the build environment to create the window's package the build ends/ fails with `error: invalid command 'install-pywin32-windows'` and prompts for a Repository and Full URL.

Exact Message -
[code]

I'm building on a 64Bit system and scrolling back up to the begining it seems the install script recognizes this. Any help much appreciated.

[2018-06-20 12:31] mcarpenterjr commented on #406
Tried installing separately through `pip` and it seems to already be satisfied, looks to genuinely be a bad command inside the script. Was able to complete creating the build environment.

[2018-06-21 21:30] madchills commented on #406
I have talked to the guys at SaltStack, and they recognize this as a big in their code.  until they fix it I have found that instead of running line 64 "pip install -e .", you replace that with "python ./setup.py --quiet install --force;" and it seems to finish fine.  I will update this in the code

[2018-06-27 20:50] thenoid opened #412 "HubbleStack isn't NIST SCAP Certified"
Some certification frameworks require you to use a NIST certified tool for auditing, saddly hubblestack is not on the list:  https://csrc.nist.gov/Projects/scap-validation-program/Validated-Products-and-Modules

We love the Hubble, but are now faced with implementing "something listed" to meet our certification.

Is there any roadmap for getting certified?  or suggestions?

[2018-07-09 16:56] basepi commented on #412
Interesting! I'll have to put aside some time to check out the validation requirements. We definitely want to be on that list.

[2018-07-10 22:06] AfterSpencer opened #414 "Hubble install failed"
Following the install instructions found in the readme and I can't get it to install, even in docker. Here is the log:

[code]

[2018-07-10 22:36] basepi commented on #414
Sure enough -- it appears that salt has messed up their setuptools install in the latest version. I'm going to do a little debugging and figure out what broke.

[2018-07-10 23:54] basepi commented on #414
Just kidding. Salt has begun using a feature only available in newer versions of `setuptools`.

Can you try this?

[code]

If that fixes it for you we can update the docs and probably the build dockerfiles as well.

[2018-07-11 15:33] AfterSpencer commented on #414
Looks good now. Thanks!

[code]

[2018-07-11 15:43] #414 closed

[2018-07-13 12:49] yassingh opened #418 "A possible bug"
I just noticed that in this line , we are creating a variable named 'iter'
Because of my limited knowledge in python, I am not sure. But here is my worry:

'iter' is an inbuilt function in python. If this line is executed, 'iter' will become something else.
It might break the functioning of hubble. If 'iter' function is used afterwards, we will get unexpected results.

@basepi
@MoodyMudit

https:/

[2018-07-13 21:38] danielmihai opened #419 "[Help Wanted] Demo Setup for Hubble v2 with ELK Stack reporting"
Hubble v1 was (really) well documented. Why isn't v2?
There's no doc on quasar anymore and it's referenced in the new v2 docs. Adobe, can you please make proper docs ? Don't turn the Hubble project into a Black Hole of Non-Documented good ideas.

I want to present v2 in a week at a cross-meetup i'm organizing together with a security meetup group and the lack of docs isn't making my preparation ea

[2018-07-16 16:33] basepi commented on #419
It has gone to the README: https://github.com/hubblestack/hubble/blob/develop/README.md

We do need to get the docs on the hubblestack website updated as well.

And you're right, we should add some returner docs to the README in the meantime. Maybe I'll do that later today....

[2018-07-16 16:35] basepi commented on #418
Good call. Can you fix this @MoodyMudit and submit a PR? Thanks!

[2018-07-16 19:10] danielmihai commented on #419
Hi Colton @basepi,

I've read the current documentation, and thus, the open issue. Thanks for labelling the issue, forgot to do it! Please, help me set up comprehensive demo for Hubble v2, including reporting. I'll pitch the project and encourage people to contribute to the really nice project. I just joined the Hubble Slack workspace.
I watched all C.E. presentations from 05-05-2016 till now, to

[2018-07-16 22:46] danielmihai commented on #419
Hi @basepi ,

Thanks for the details!

For 1. i'm using Terraform, without any configuration management, just for demoing the low sodium Hubble. I'm going to write some local config files, and add them via the remote executor of Terraform from my local machine.

For 2. i'm going to config the topfile, scheduler and slack and logstash returners, and see if it works.

Will get back to you after I do

[2018-07-17 20:07] AfterSpencer opened #423 "Not able to use local json file for CVE scan"
[code]

I think I am missing something and I can't figure it out after looking at the documentation.

Here are the files I have in /srv/salt/hubblestack_data/hubblestack_nova_profiles

centos_7.json  cve_scan_v2  cve.scan-v2.yaml  top.nova

[code]
[code]

[2018-07-18 12:12] danielmihai commented on #419
@basepi , should we keep this issue open or change the scope of it and create a new one for the actual documentation work ?

[2018-07-18 16:55] basepi commented on #419
If you could close this one and create a new one for documentation updates around returners, that would be awesome.

[2018-07-18 18:08] #419 closed

[2018-07-18 18:15] danielmihai opened #426 "Update Hubble v2 Documentation"
Hello,

As a developer/devops person, I would like to be able to read the latest HubbleStack documentation, such that I can install, configure, add reporting, use, extend, integrate Hubble and its components easily. Previously, Hubble v1 was fairly well documented and users could manage on their own.

Document all new features and ways of operating Hubble v2, including docs.hubblestack.io, readme.

[2018-07-18 20:21] basepi commented on #419
Label is fine, nobody looks at closed issues

[2018-07-18 21:48] basepi commented on #423
Your url appears to be wrong in your `cve.scan-v2.yaml`

You're using `salt://hubblestack_data/centos_7.json`

The file is located at `salt://hubblestack_data/hubblestack_nova_profiles/centos_7.json` (based on the path you mentioned above.)

[2018-07-18 21:49] basepi commented on #423
Also, top.nova uses `.` as a directory separator, so you should have your yaml at `cve/scan-v2.yaml` for the top data you showed above.

[2018-07-19 16:02] AfterSpencer commented on #423
Okay - here are the files as of now:

[code]
Run of the audit:

[code]

[2018-07-19 16:21] basepi commented on #423
So you still have some mismatches.

You're use `hubble.audit cve.scan-v2-salt`

Which is going to look for your file at `salt://hubblestack_nova_profiles/cve/scan-v2.yaml`

To use your file structure as you've shown, you need to change your commands a bit.

`/srv/salt/hubblestack_data/hubblestack_nova_profiles/cve/scan-v2.yaml` (note the change in location. You can't have dots in your filename, be

[2018-07-19 18:40] AfterSpencer commented on #423
Thanks. I worked with a guy who has done stuff with salt before and we got it sorted. You got us pointed in the right direction, thanks for being responsive.

For those who don't know salt like me, here is what I ended up doing.

top.nova is in /srv/salt/hubblestack_data/hubblestack_nova_profiles
and looks like this:

[code]

There are a few files in  /srv/salt/hubblestack_data, but it seems like

[2018-07-19 18:47] basepi commented on #423
Glad you figured it out.

[2018-07-19 18:47] #423 closed

[2018-08-03 08:22] vulnersCom opened #438 "Vulners Python API support"
Hi fellows!
May I suggest you refactoring Vulners Scanner to the public [Vulners Python API](https://github.com/vulnersCom/api).
It's completely supported and I think will make it easier to integrate.
It's also [available via Pypi](https://pypi.org/project/vulners/).

[2018-08-03 16:50] basepi commented on #438
Ooh, we should definitely do that. Thanks for the link! I think our latest CVE scanner uses your REST api, which I think was much better for your servers than downloading the json ourselves, but this sounds like it should be even better.

[2018-08-08 19:27] claudekenni opened #443 "Hubblestack installation fails on SLES 12"
I'm trying to install Hubblestack on a SLES12 Machine. After fixing errors with the required packages and installing them manually first I get the following error

[code]

[2018-08-08 19:29] claudekenni commented on #443
Hubble itself seems to be installed but it won't run

[code]

[code]

[2018-08-08 22:42] basepi commented on #443
I've seen this issue before -- you need to update your setuptools via pip.

[code]

Then tell it to install again. It's specifically the salt-ssh install that failed.

[2018-08-09 14:46] sam0104 commented on #310
Is there any update on this bug ? It is being long time there is no update.

[2018-08-09 14:47] sam0104 commented on #299
Is it available with new version ?

[2018-08-10 22:26] basepi commented on #310
Thanks for the ping, this totally fell off my radar. @madchills is unavailable for a couple of weeks but I'm going to set myself a reminder to hit him up when he gets back so we can get this fixed.

[2018-08-10 22:28] basepi commented on #299
Unfortunately I haven't had a chance to hit this one yet. I'm hoping to get out of some internal support stuff that's kept me from doing much dev, and get back to features. This will probably be high on that list.

I have a plan to revamp nova profiles altogether and it should make this pretty easy to add. We shall see.

[2018-09-07 23:53] w500 opened #453 "Install on Windows 2012R2 failing"
Hello,

When I use the powershell to create the windows package for hubblestack it gets partway through and then gives the following error.

.3.0) (3.0.4)
Requirement already satisfied: pywin32>=223 in c:\python27\lib\site-packages (from pypiwin32; sys_platform == "win32"->C
herryPy==10.2.1->salt==2018.3.0) (223)
Requirement already satisfied: backports.functools-lru-cache in c:\python27\lib\site-

[2018-09-12 16:53] #438 closed

[2018-09-12 16:58] basepi commented on #453
Thanks for the report. We'll investigate this.

[2018-09-17 22:32] basepi commented on #412
I have this in my jira backlog but haven't had a chance to look into it yet... >.<

[2018-09-24 13:52] yassingh opened #464 "hubble --version not working"
I am facing an issue with the newer hubble builds.
Actually I have faced this issue in 2.4.1 also . Now I am facing this issue in 2.4.5 also.

Sometimes ( most of the times ), "hubble --version" and "hubble --buildinfo" command don't give any output.

"hubble --version -vvv" also doesn't give any output.

However, if I add any random string in front of these commands , i get perfect output.

For e

[2018-09-24 18:03] basepi commented on #464
We moved the daemonization of the process (and the check for existing hubble processes) earlier in the daemon. What's happening is hubble is aborting because the daemon is already running on the system. We need to add an explicit exception for `--version`, which should be pretty simple.

Note the reason it works if you add additional characters is because there *is* an exception already for single

[2018-09-27 17:28] #464 closed

[2018-10-02 20:19] roaldnefs commented on #418
This issues is already fixed by @yassingh in https://github.com/hubblestack/hubble/commit/46fe36fd0096c130414f2cd904ff40c0d75a71d9.

[2018-10-23 13:41] yassingh opened #476 "Hubble not working on windows due to pid file"
It seems that the lastest build of hubble is not working on windows. Hubble daemon tries to write pid to 'C:\Program Files (x86)\hubble \var\run\hubble.pid' after some time. Since this file does not exist on windows, hubble daemon stops working.

Have a look at the logs for better understanding:
[code]

@basepi

[2018-10-23 19:30] basepi commented on #476
https://jira.corp.adobe.com/browse/CSTREQ-45468

[2018-10-23 19:37] #476 closed

[2018-10-23 20:07] basepi commented on #426
I recently did a pretty big overhaul of the docs. They're not perfect, but I think it's a good start and we'll keep working on it.

[2018-10-23 20:07] #426 closed

[2018-10-23 20:10] gjones623 commented on #453
https://jira.corp.adobe.com/browse/CSTTEAM-43987

[2018-10-23 20:12] gjones623 commented on #412
https://jira.corp.adobe.com/browse/CSTTEAM-43504

[2018-10-23 20:14] gjones623 commented on #406
https://jira.corp.adobe.com/browse/CSTTEAM-44033

[2018-10-23 20:15] gjones623 commented on #385
https://jira.corp.adobe.com/browse/CSTTEAM-44034

[2018-10-23 20:19] gjones623 commented on #310
https://jira.corp.adobe.com/browse/CSTTEAM-44035

[2018-10-23 20:28] #281 closed

[2018-10-23 20:31] basepi commented on #281
I can't remember if we've backported this or not but we ended up deprecating hubble-salt. Sorry for any inconvenience that caused.

[2018-10-23 20:31] basepi commented on #279
I think we've resolved this by just enabling SSL by default.

[2018-10-23 20:31] #279 closed

[2018-10-23 20:32] basepi commented on #267
Pretty sure salt isn't using our profiles anymore so I'm going to close this one. Please comment if it should be reopened.

[2018-10-23 20:32] #267 closed

[2018-10-23 20:33] basepi commented on #252
I think we've mostly settled on the logo that's currently on our org, but these are good options for the future. Thanks @timkim!

[2018-10-23 20:33] #252 closed

[2018-10-23 20:34] basepi commented on #250
We've fixed a bunch of these and will fix the rest once we enable travis linting. I'm going to close this issue. :)

[2018-10-23 20:34] #250 closed

[2018-10-23 20:35] basepi commented on #243
I think we're doing this now via osquery.

[2018-10-23 20:35] #243 closed

[2018-10-23 20:35] gjones623 commented on #233
https://jira.corp.adobe.com/browse/CSTTEAM-44037

[2018-10-23 20:36] basepi commented on #228
cve_scan_v2 has been deprecated (due to security and performance issues) and you should now use vulners_scanner.py.

[2018-10-23 20:36] #228 closed

[2018-10-23 20:37] basepi commented on #226
I'm pretty sure this one was fixed and we forgot to close this. Please comment if that's not so.

[2018-10-23 20:37] #226 closed

[2018-10-23 20:37] basepi commented on #209
I am not sure why this is still open.

[2018-10-23 20:37] #209 closed

[2018-10-23 20:38] gjones623 commented on #222
https://jira.corp.adobe.com/browse/CSTTEAM-44038

[2018-10-23 20:38] basepi commented on #200
This is solved by flexible data gathering

[2018-10-23 20:38] #200 closed

[2018-10-23 20:39] basepi commented on #199
We now have upper limits on jobs. I think we've decided to go that route for now -- we can re-open this if we decide to add more metrics.

[2018-10-23 20:39] #199 closed

[2018-10-23 20:39] basepi commented on #198
This is solved with the splunkindex grain

[2018-10-23 20:39] #198 closed

[2018-10-23 20:41] basepi commented on #191
I think these instances have been resolved, I did a quick check on one of the profiles and couldn't find any unquoted zeroes. Please comment if that's not the case and we can reopen.

[2018-10-23 20:41] #191 closed

[2018-10-23 20:42] basepi commented on #184
I'm almost certain this has been fixed with the vulners scanner. We now use the vulners API through their python package.

[2018-10-23 20:42] #184 closed

[2018-10-23 20:42] basepi commented on #130
This is done.

[2018-10-23 20:42] #130 closed

[2018-10-23 20:42] basepi commented on #114
Grains refresh hourly and return to splunk.

[2018-10-23 20:42] #114 closed

[2018-10-23 20:43] basepi commented on #110
Solved by FDG

[2018-10-23 20:43] #110 closed

[2018-10-23 20:43] basepi commented on #109
Solved by FDG

[2018-10-23 20:43] #109 closed

[2018-10-23 20:43] basepi commented on #108
The result of all of these conversations was FDG.

[2018-10-23 20:43] #108 closed

[2018-10-23 20:44] gjones623 commented on #105
https://jira.corp.adobe.com/browse/CSTTEAM-43899

[2018-10-23 20:47] basepi commented on #93
I'm going to assume this was fixed by the refactor

[2018-10-23 20:47] #93 closed

[2018-10-23 20:49] basepi commented on #92
@vishsriv Apologies for our lack of action here. I'm going to close this since I'm not sure if it's an issue and it's very stale. Please comment if this is an issue and I'll get it opened back up and on our backlog.

[2018-10-23 20:49] #92 closed

[2018-10-23 20:49] basepi commented on #91
@vishsriv Another stale one. Please comment if this should remain open.

[2018-10-23 20:49] #91 closed

[2018-10-23 20:51] basepi commented on #90
I think this may have been fixed in all of our misc.py additions over the last year. Since this issue hasn't seen any movement I'm going to close it. If it should remain open please comment and I'll reopen.

[2018-10-23 20:51] #90 closed

[2018-10-23 20:52] gjones623 commented on #89
https://jira.corp.adobe.com/browse/CSTTEAM-44039

[2018-10-23 20:53] gjones623 commented on #88
https://jira.corp.adobe.com/browse/CSTTEAM-44040

[2018-10-23 20:53] basepi commented on #83
We've since added 2.1.1 for multiple operating systems and I'm betting this is fixed. If not, please comment and we'll reopen.

[2018-10-23 20:53] #82 closed

[2018-10-23 20:54] basepi commented on #82
Forgot to close this based on @whackyhack's work.

[2018-10-23 20:54] basepi commented on #83
Eh, I decided I want to check this one. Reopening.

[2018-10-23 20:55] basepi commented on #80
Since hubble-salt was deprecated, I am closing this one.

[2018-10-23 20:55] #80 closed

[2018-10-23 20:55] gjones623 commented on #83
https://jira.corp.adobe.com/browse/CSTTEAM-44041

[2018-10-23 20:55] basepi commented on #79
I think our time would be better spent on the sphinx docs, so I'm going to close this one for now.

[2018-10-23 20:55] #79 closed

[2018-10-23 20:56] gjones623 commented on #81
https://jira.corp.adobe.com/browse/CSTTEAM-44042

[2018-10-23 20:56] basepi commented on #78
duplicate of #299

[2018-10-23 20:56] #78 closed

[2018-10-23 20:57] gjones623 commented on #77
https://jira.corp.adobe.com/browse/CSTTEAM-44043

[2018-10-23 20:57] basepi commented on #299
We should extend this to grains and other data as well (basically #78)

[2018-10-23 21:00] basepi commented on #75
Updated title. This needs to be done but will be painful and is very low priority in my mind.

[2018-10-23 21:00] basepi commented on #74
We now ship osquery with hubble so we don't need fallback.

[2018-10-23 21:00] #74 closed

[2018-10-23 21:01] gjones623 commented on #75
https://jira.corp.adobe.com/browse/CSTTEAM-44044

[2018-10-23 21:01] basepi commented on #73
I no longer care about this issue.

[2018-10-23 21:01] #73 closed

[2018-10-23 21:02] basepi commented on #71
Since @mew1033 hasn't mentioned this issue in years, I'm going to close it.

[2018-10-23 21:02] #71 closed

[2018-10-23 21:03] basepi commented on #70
I doubt this is still true but if it is we'll fix is later.

[2018-10-23 21:03] #70 closed

[2018-10-23 21:03] basepi commented on #69
this is now configurable.

[2018-10-23 21:03] #69 closed

[2018-10-23 21:04] #68 closed

[2018-10-23 21:04] #65 closed

[2018-10-23 21:04] #63 closed

[2018-10-31 21:49] #310 closed

[2018-11-12 13:49] ApertureSecurity opened #489 "False positives for Ubuntu 16.04"
Hello, I when I run the `hubble hubble.audit` receive this...

[code]

All the IPV6 checks are failing and I think should be checked in the sysctl.conf as well for things like .

`net.ipv6.conf.all.forwarding=0  `

Has something like this been reported ? and what is a recommended solution for this?  Ultimately I wil be using this for a sort of Bill of environment health.

Thanks

[2018-11-12 20:00] basepi commented on #489
I don't think those have been reported yet -- it's not one of the checks we're using as an indicator at Adobe (yet) so we haven't looked at it closely.

The recommended (fastest) solution would be for you to fix the checks [here](https://github.com/hubblestack/hubblestack_data/blob/develop/hubblestack_nova_profiles/cis/ubuntu-1604-level-1-scored-v1-0-0.yaml) and submit a PR. Otherwise we'll add th

[2018-11-12 23:44] AfterSpencer commented on #228
Is there documentation on vulners_scanner.py usage?

[2018-11-13 01:05] AfterSpencer opened #490 "Documentation on vulners cve (since old cve profile has been deprecated)"
I am having trouble getting CVE scan data since the cve scan has been moved to vulners.py

Is there documentation on this? If so, I will look it over to see if I can figure out what is wrong.

If not here is the relevant data:

[code]

[code]

Output from hubble audit:

[code]

Also, I would like to make sure the functionality in the previous scan to be able to use a local json file for CVE data w

[2018-11-13 17:03] basepi commented on #228
Yep! I haven't pulled it into the ReadTheDocs docs, but usage is documented in the module docstring: https://github.com/hubblestack/hubble/blob/develop/hubblestack/files/hubblestack_nova/vulners_scanner.py

[2018-11-13 17:08] basepi commented on #490
I don't think that functionality is still supported, unfortunately. I think vulners wanted to move away from that type of usage because it was really hammering their servers to download all of that data. We may have to find another data source if that's something we still want to support.

I think your problem above is the vulners line in your top.nova:

[code]

Try that ^

[2018-11-13 21:01] AfterSpencer commented on #490
My organization has another vulnerability source we would like to build a suitable file from. I was also thinking about creating a job that downloads the correct file once a day from vulners and then hosting it locally for my boxes to pull from so as not to overload vulners.

I will give the changes you suggested a try and let you know.

[2018-11-13 21:04] AfterSpencer commented on #490
Looks like the output is the same with cve.vulners in top.nova

[code]
[code]

[2018-11-14 17:08] basepi commented on #490
Odd. Could you run the job with `-vvv` so I can see the debug output? It will be long, so you can stick it in a gist or a pastebin.

[2018-11-14 17:46] AfterSpencer commented on #490
[code]

[2018-11-14 17:46] AfterSpencer commented on #490
[code]

[2018-11-14 22:59] basepi commented on #490
Interesting. What version of hubble are you using? I'm fairly certain that should be packaged in with 2.4.7 but I'm not sure about previous versions.

[2018-11-15 14:56] ApertureSecurity commented on #489
Ok.

Thanks I will definitely take a look. I am extremely rusty with salt , so I will look and see what I can do and make a PR.

[2018-11-15 16:34] basepi commented on #489
Luckily this is pure hubble "code" in those profiles. Unfortunately the format is terrible, but we're working on fixing that in the near(ish) future.

[2018-11-16 16:54] AfterSpencer commented on #490
[code]

[2018-11-16 17:55] basepi commented on #490
Huh. Installed with our packages from our release page or from source?

[2018-11-16 20:34] AfterSpencer commented on #490
From the release page, I didn't build it from source.

[2018-11-17 00:29] AfterSpencer commented on #490
No worries, I appreciate your repsonses too. We are in the beginning testing phase on the project we want to use it for.

[2018-11-17 18:17] dgmorrisjr commented on #490
We have also been using hubble for disconnected servers and need to be able to download the datasource for offline scanning.

[2018-11-19 11:02] ApertureSecurity opened #491 "PULSAR instalation documentation."
I am looking for how to install and use PULSAR for FIM monitoring ,

The repo has been changed three times from the looks to what it is now.   And from the look it looks like this has gone to the standalone app called hubble , but I don't see anyway to run, execute , or configure pulsar in hubble.

Here is the documentation , let me know which should I be following for this.

https://hubblestack.r

[2018-11-19 11:21] ApertureSecurity commented on #489
So I have been evaluating this and it's not a FP as I initially thought. The system that I am working in doesnt have IPV6 at all enabled and therefore no IPV6  folder is populated in

/proc/sys/net/

Is there a way to make exceptions in hubble?

[2018-11-20 16:06] alias454 opened #492 "Running hubble hubble.audit on Server 2012R2 results in FileserverConfigError errors"
After installing the latest version of hubble on a fresh install of a fully patched Windows Server 2012R2 instance I see errors when trying to launch the NOVA audit

[code]

This is using the Windows installer Hubble-v2.4.7-Setup.exe

[2018-11-20 23:50] #489 closed

[2018-11-21 01:15] alias454 opened #493 "Running hubble hubble.audit on Server 2012R2 results in NOVA module exception"
After the gitfs failures from previous attempts, I thought pushing out the NOVA profiles may work and luckily it did. However, I am now getting this error running hubble.audit on a fresh Windows 2012R2 server that is not joined to a domain.
[code]
This is using the Windows installer Hubble-v2.4.7-Setup.exe

[2018-11-21 14:01] dgmorrisjr opened #499 "Add a NIST Validated CVE Scanner for use in disconnectecd networks"
For environments without internet access, we would still like the ability to perform CVE scans of managed hosts.  Having a scanner that has been NIST Validated would also benefit for use in US Govt organizations.  NIST Validated products are here: https://csrc.nist.gov/projects/scap-validation-program/validated-products-and-modules.  OpenSCAP may serve as a good starting point.  Would like input f

[2018-11-26 18:18] basepi commented on #490
Ref #499

[2018-11-26 18:31] basepi commented on #489
Yep! You can use compensating controls to tell Hubble to ignore certain failures. Just stick `control:` into the check like this: https://github.com/hubblestack/hubblestack_data/blob/b849aa548542fe2e71eee6232f57df3053b9cda7/hubblestack_nova_profiles/samples/sample_control.yaml

You can also have a separate control file targeted by your topfile. These docs are old and need to be ported into the new

[2018-11-26 18:33] basepi commented on #499
https://jira.corp.adobe.com/browse/CSTTEAM-44225

[2018-11-26 18:36] basepi commented on #491
If you're using our packages, you should have everything necessary. You just need to uncommend the `pulsar.process` schedule entry [in the config.](https://github.com/hubblestack/hubble/blob/develop/conf/hubble#L78-L82).

By default, it will use [our watch config from hubblestack_data](https://github.com/hubblestack/hubblestack_data/blob/develop/hubblestack_pulsar/hubblestack_pulsar_config.yaml).

[2018-11-26 18:43] basepi commented on #493
Yeah, looks like it's an error in the error handling around a key missing from the registry, which is why it hasn't been caught yet. Good catch! We'll get this fixed.

[2018-11-26 18:44] basepi commented on #493
https://jira.corp.adobe.com/browse/CSTREQ-45831

[2018-11-26 18:56] basepi commented on #492
The problem is that git is not on your path. When you run the audit through the scheduled job, I'm pretty sure the daemon handles that automatically. But for one-off jobs in powershell or cmd.exe, you need to make sure the portable git exe is on your path.

Or, you can just run your commands from within `C:\Program Files (x86)\Hubble\PortableGit\git-cmd.exe`. We'll get this added to the docs.

Kee

[2018-11-26 20:31] alias454 commented on #492
Thanks, I was able to get it working by launching the git shell first and by setting the path using
`set path="C:\Program Files (x86)\Hubble\PortableGit\cmd";%path%`

[2018-11-26 21:16] alias454 opened #502 "Add returner information to the docs"
Just getting started, I had to dig around a bit to find some information on how returners worked so adding some information to the docs would be helpful for others I think. I wrote this up as a brief snippet if you think it would be helpful.

    hubble hubble.audit --r RETURN, --return RETURN

[2018-11-27 00:29] alias454 commented on #493
Thanks for looking into it.
To get around the problem for now, I am setting match_output = 'not set' within the else block.
that at least allows all the checks to not throw an error because of an unset variable.

I'm not sure if this is interesting to you at all but adding it for completeness. This is the full error list now.
[code]

[2018-11-27 17:35] basepi commented on #492
Perfect. Thanks for following up!

[2018-11-27 17:35] #492 closed

[2018-11-27 17:37] basepi commented on #502
Yes! This would be an awesome addition. Would you mind making a PR to [the docs](https://github.com/hubblestack/hubble/tree/develop/doc) wherever you think it would have been the most useful for you?

[2018-11-27 20:42] #490 closed

[2018-11-27 21:51] AfterSpencer commented on #490
Thanks! I will give it a try with the next release.

Does this allow for offline CVE scanning too?

[2018-11-27 22:04] basepi commented on #490
Unfortunately no. #499 tracks that.

[2018-11-28 18:16] #493 closed

[2018-12-01 19:12] alias454 commented on #502
Thanks, I added it here https://github.com/hubblestack/hubble/pull/508.

[2018-12-01 20:56] #502 closed

[2018-12-04 22:14] AfterSpencer opened #513 "Error after windows install from setup.exe"
Installed from https://github.com/hubblestack/hubble/releases/download/v2.4.7/Hubble-v2.4.7-Setup.exe on Windows 10 for testing and came across this error:

[code]

[2018-12-07 16:57] basepi commented on #513
That's a new one. I'll get a ticket into our backlog to look into this.

[2018-12-07 16:59] basepi commented on #513
https://jira.corp.adobe.com/browse/CSTREQ-45943

[2018-12-14 18:21] AfterSpencer commented on #513
@alias454 commenting those out allows hubble.exe --version to run.

Thanks.

[2019-01-28 00:20] alias454 commented on #75
I was working on figuring out this problem myself so I can make sure the audits are as up to date as they can be. This generated some data that you might be interested in. My take used the latest benchmarks for a given platform and then checked the current audit checks against that. I did notice the ubuntu 14.04 LTS audit show almost 100% mising but I think that is related ot he control sections c

[2019-01-28 05:07] alias454 opened #535 "Inconsistent yaml section data"
I'm not sure if this causes an issue within hubble or not but when trying to parse yaml files automatically with a custom script, I ran into some inconsistent sections. I see a few where items that are typically lists, are represented as dictionaries and others missing "tags" etc.

Examples exist in amazon-201409-level-1-scored-v1-0-0.yaml and amazon-level-1-scored-v1-0-0.yaml files for missing li

[2019-01-28 18:24] basepi commented on #75
This is good work! I doubt our team at Adobe will be able to spend much time on these this year, but once I rewrite nova to fix the format (planned for this year) and we get past the python3 migration and whatnot, I'm hoping we can dedicate some time to truing these up.

[2019-01-28 20:29] basepi opened #536 "Rewrite nova"
Offload all of the processing code to the core audit module for DRY and consistency reasons. This will also allow us to drastically reduce the complexity of the profiles themselves.

[2019-01-28 20:30] basepi commented on #536
https://jira.corp.adobe.com/browse/CSTTEAM-43970

[2019-01-28 20:31] basepi commented on #535
Closing since https://github.com/hubblestack/hubble/issues/536 will resolve this.

[2019-01-28 20:31] #535 closed

[2019-01-28 21:59] alias454 commented on #535
Not sure if you are up for requests at this point but having a utility to convert existing audit files to the new format would be nice(whatever that may be).

[2019-01-28 22:00] alias454 commented on #536
Not sure if you are up for requests at this point but having a utility to convert existing audit files to the new format would be nice(whatever that may be).

[2019-01-28 22:02] alias454 commented on #75
Since a rewrite will take some time and you mentioned the Adobe team won't get to truing up the audits for awhile, will you take some PR's as I add new benchmarks? I was planning on adding the latest version benchmark checks as new audit files, as I work on them for my own needs.

[2019-01-28 22:09] basepi commented on #536
Yep, I will definitely handle the conversion. I'll probably have to write a slightly different routine for each audit module, but that will be *way* easier than rewriting the profiles from scratch.

[2019-01-28 22:11] basepi commented on #75
Yes, we would still love additions. I'll be programmatically converting to the new format so your work will not be wasted. I just wanted to be up-front about our priorities. :)

[2019-01-28 22:22] alias454 commented on #536
Cool. I wrote up something that will convert the yaml to csv then another script to read in the csv. The second stage uses pandas to read the csv and update a sqlite db. I'll attach the first stage script if it might be helpful in anyway. Feel free to use it or not. The one thing I didn't do was split up the list of checks. I decided to just stare that as a json blob.
[nova_audit_csv_prep.txt](htt

[2019-01-28 23:01] basepi commented on #536
Thanks for the link! I'll keep it in mind. And I promise no judgment. :)

[2019-02-01 03:32] alias454 opened #538 "Submitted PR to "fix" inconsistent yaml data"
Since I was making these changes anyway, I figured this might be useful. I submitted a PR https://github.com/hubblestack/hubblestack_data/pull/133 related to  the oddities discussed here https://github.com/hubblestack/hubble/issues/535 and a few more.

Thanks,
Brandon

[2019-02-01 08:18] alias454 opened #540 "Inconsistent indentation for description label across multiple Hubble audit files"
Hi again. I was starting to add missing audits and ran into another anomaly, this time with indentation for the misc functions section. It appears the indentation for the description is nested differently than in the example from https://github.com/hubblestack/hubble/blob/develop/hubblestack/files/hubblestack_nova/misc.py.

Some of the checks are nested like so:
[code]

But then in other files the

[2019-02-01 08:44] alias454 commented on #540
Ahh, I probably should have tested prior to asking. I ran a quick test and saw no difference between either indention level. So it appears to be purely aesthetic as far as that section goes.

Regards,
Brandon

[2019-02-04 08:11] alias454 commented on #538
I went whole ham on these too

[2019-02-04 19:55] basepi commented on #540
Yeah technically any indentation is acceptable for YAML assuming it matches with the rest of the block. That's still not ideal but should be fixed up when I re-process all of the profiles with the rewrite we've discussed.

[2019-02-04 19:55] #540 closed

[2019-02-04 20:14] basepi commented on #538
Awesome! I've merged all your PRs except one which started conflicting. Thank you again!

[2019-02-04 20:14] #538 closed

[2019-02-10 01:41] alias454 opened #542 "Initial Hubble dpkg install fails on Debian 9"
When deploying hubble on Debian 9, I ran into an issue with the initial dpkg install. When run the first time, it fails. Running dpkg a second time results in the package being installed properly.

Download a clean deb from github:
[code]

Running dpkg the first time:
[code]

Then when run a second time it installs:
[code]

This happens on:
[code]

Regards,
Brandon

[2019-02-11 20:07] basepi commented on #542
Hmm. It looks like it installed, but something is wrong with the systemd unit file. I wonder why it worked the second time? We'll look into this.

[2019-02-11 20:08] basepi commented on #542
https://jira.corp.adobe.com/browse/CSTTEAM-44468

[2019-02-19 20:40] ufomorme opened #549 "Pulsar functions not found - Windows"
Hubble on Windows 10  - Pulsar functions not found:

2019-02-19 11:08:58 [hubblestack.daemon][ERROR   ] Scheduled job pulsar has a function pulsar.process which could not be found.

2019-02-19 11:09:08 [hubblestack.daemon][ERROR   ] Scheduled job pulsar_canary has a function pulsar.canary which could not be found.

Default install/config. Only Splunk info added to config.

[2019-02-20 17:25] basepi commented on #549
Thanks for the report. I'm going to have @Tenebriso look into this.

[2019-02-20 17:25] basepi commented on #549
https://jira.corp.adobe.com/browse/CSTTEAM-44494

[2019-02-20 22:14] mew1033 commented on #542
The same thing happens on Ubuntu 18.04

[2019-02-23 20:20] brettnelsen opened #552 "Errors after install on server 2016"
2019-02-23 13:58:59 [salt.utils.gitfs][ERROR   ] Error occurred fetching gitfs remote 'https://github.com/hubblestack/hubblestack_data.git': user cancelled certificate check
Traceback (most recent call last):
  File "site-packages\salt\utils\gitfs.py", line 1703, in _fetch
  File "site-packages\pygit2\remote.py", line 405, in fetch
  File "site-packages\pygit2\errors.py", line 64, in check_error
G

[2019-02-25 18:15] basepi commented on #552
So with the default config, hubble tries to fetch its profiles from `
https://github.com/hubblestack/hubblestack_data.git`.

To remove the error you can remove [this line](https://github.com/hubblestack/hubble/blob/8412e0db4aa413c2c39b3235810c788dee0fd105/conf/hubble#L23) from `C:\Program Files (x86)\Hubble\etc\hubble\hubble`. Then you'll need to tell hubble where to find the local files, by addin

[2019-02-25 18:15] #552 closed

[2019-02-26 20:45] #513 closed

[2019-02-26 20:45] basepi commented on #513
Fixed in #553

[2019-02-27 20:23] basepi commented on #105
This is (mostly) done.

[2019-02-27 20:23] #105 closed

[2019-03-13 19:41] basepi commented on #385
I'm going to close this since our long-term plan is to move away from misc.py to FDG, and we can solve it then.

[2019-03-13 19:41] #385 closed

[2019-03-13 19:42] basepi commented on #104
Closing this to track internally since it's not a community-requested feature

[2019-03-13 19:42] #104 closed

[2019-04-04 17:43] AfterSpencer commented on #490
[code]

Did this bug ever get fixed?

[2019-04-04 17:51] basepi commented on #490
I'm pretty sure it's fixed but didn't do a 2.4.8 -- it will be in the upcoming 3.0.0 release.

[2019-04-04 17:52] AfterSpencer commented on #490
Okay, what is the ETA on 3.0.0?

[2019-04-04 19:18] basepi commented on #490
It's feature-frozen here: https://github.com/hubblestack/hubble/tree/3.0

We're currently testing and prepping, shooting for an official release by end of April, assuming no big issues.

[2019-04-08 15:27] AfterSpencer commented on #499
@dgmorrisjr it looks like vulners isn't able to do offline scanning unless you pay for their commercial product:

https://github.com/vulnersCom/api/issues/13#issuecomment-480479271

@basepi is CVE auditing of non-internet connected hosts in the roadmap still?

I have a few ideas and if I can get them working I will submit a PR.

[2019-04-08 17:30] basepi commented on #499
It's not a priority for us at the moment, though we would like to support it. I figured we'd go with something openscap related, as @dgmorrisjr recommended. Though keeping it up to date will be a whole different thing unless we can consume someone else's service.

[2019-04-16 19:42] AfterSpencer commented on #499
@dgmorrisjr have you used oscap before?

[2019-04-17 01:30] dgmorrisjr commented on #499
While I have it our platform. I’ve been using an older version of hubblestack that lets me use the downloaded files from vulnrs.com.   I’ve been thinking abt upgrading to use the latest Hubble and then build a module for openscap. Just haven’t had the time.

[2019-05-21 13:14] SpiritualMadMan commented on #549
I cannot access: https://jira.corp.adobe.com/browse/CSTTEAM-44494 because Secure Connection Failed SSL_ERROR_HANDSHAKE_FAILURE_ALERT

I've tried using Firefox; IE and Edge to no avail...

[2019-05-21 17:26] basepi commented on #549
This is fixed in https://github.com/hubblestack/hubble/pull/601

[2019-05-21 17:26] #549 closed

[2019-05-21 17:26] basepi commented on #549
(Also, note that those jira links are unfortunately to our instance behind Adobe VPN, so they will not be visible to non-Adobe employees.)

[2019-06-13 13:20] SpiritualMadMan opened #656 "Pulsar Masks not Working Windows 10"
Hubble 2.4.7 Pulsar is work and the Folder Exceptions seem to be working as well.

However, nothing I do in masks seems to make a difference. I get the Create File event. But, Renaming and Deletes in my folder do not appear.

Running from C:\svr\hubble\... So, we aren't getting files from the repository. And, there are no errors in the log.

Using local returner sqlite

[2019-06-13 13:27] SpiritualMadMan opened #657 "Pulsar events have timeline gaps in Windows 10"
Hubble 2.4.7 on Windows 10 with no active downloads.

When parsing the event data from the sqlite returner time line gaps between record sets of a variable amount are occurring.

That is the last entry from record "A" may be up to a minute earlier than the first entry in record "B".

And, this seems to vary by the length of the record set. The larger number of events to process the greater the gap

[2019-06-13 17:02] AfterSpencer commented on #499
@dgmorrisjr my team has submitted a PR you might be interested in

https://github.com/hubblestack/hubble/pull/654

Long term we would like to be able to point it at a local copy (either cached locally or on the system) of the xml files for the CVE definitions.

This isn't NIST validated, but it does fill the need for air gapped environments.

[2019-06-18 22:51] basepi commented on #657
I'm not 100% sure that I understand the question, but this might be expected behavior. Pulsar on windows runs with less frequency than on linux, and I think the events will be timestamped from collection, not from change time. Can you perhaps show some sample data with expected vs actual behavior?

[2019-06-18 22:52] basepi commented on #656
Can you show us your pulsar config? And the mask file you're using?

[2019-06-19 14:40] SpiritualMadMan commented on #657
Attached is a tab delimited file that can be opened in Excel. (Did the best I could at parsing the three records.)

In the middle record set you see where I created a new file. That was followed within the time frame of the middle record set with a rename and then a deletion. Neither of which showed up.

To show the gaps I will have to schedule some time to run tests where C:\Users\*\AppData\Roami

[2019-06-19 14:51] SpiritualMadMan commented on #656
Basically I created a svr folder in my C: root and copied everything down to that.
C:\srv\hubble\hubblestack_pulsar
[hubble.conf.txt](https://github.com/hubblestack/hubble/files/3306617/hubble.conf.txt)
[hubblestack_pulsar_win_config.yaml.txt](https://github.com/hubblestack/hubble/files/3306627/hubblestack_pulsar_win_config.yaml.txt)

Is this what you needed?

My understanding of using the masks i

[2019-06-19 15:16] basepi commented on #657
That's a pretty solid hypothesis, actually. This isn't code I wrote but I have vague familiarity with it. You can see where it reads the NTFS journal here: https://github.com/hubblestack/hubble/blob/c0c0598864c9ca183fed2d61ff0e6baa3aedf35c/hubblestack/extmods/modules/win_pulsar.py#L175-L181

In this case, it seems to be keeping track of actual record identifiers (usn?), which would make me think y

[2019-06-19 15:18] basepi commented on #656
I'm worried that maybe we have a case problem here. Note that when we do the comparison, it's case sensitive: https://github.com/hubblestack/hubble/blob/c0c0598864c9ca183fed2d61ff0e6baa3aedf35c/hubblestack/extmods/modules/win_pulsar.py#L339

But I'm seeing mismatches between the configured [DEFAULT_MASK](https://github.com/hubblestack/hubble/blob/c0c0598864c9ca183fed2d61ff0e6baa3aedf35c/hubblestac

[2019-06-19 15:37] SpiritualMadMan commented on #656
I usually use (C#) ToUpper() if the case doesn't matter when doing a compare...
Especially when the user can get it wrong. :)
I will look at how the NTFS Journal is read and see if I can make heads or tails out of it...

There's got to be more people out there doing this in Windows!

[2019-06-19 20:45] SpiritualMadMan commented on #656
Ran a test as follows:
Started the Hubble Service
Created Text File
Renamed another file
Renamed a second file
Deleted File
Deleted another File
Created a text File
Waited for the second data set to be posted.
Ran fsutil usn readjournal C: startusn=24887110816 > "C:\...
Collected the two data sets from the sqLite file.
The datasets are in Griddata.txt
The Journal data is in journal.txt

There is a

[2019-06-19 20:55] SpiritualMadMan commented on #657
Concerning the gaps. You can see that gaps exist by comparing the gird_data.txt time at around line 47 with the journal.txt data.

This may actual be by design, though I can't think of a reason why to use the presence or absence of "close" to delimit whether a record is kept or trashed.

https://github.com/hubblestack/hubble/blob/c0c0598864c9ca183fed2d61ff0e6baa3aedf35c/hubblestack/extmods/modules

[2019-06-24 18:51] basepi commented on #657
If I'm reading the journal right, it looks like it fires three events on a rename:

[code]

It looks like most of the major events do have a `| Close` on them. The exception is `Rename: old name`. It doesn't have a `| Close`. So, I'm guessing that code you linked is filtering out everything that doesn't have a `| Close` *except* for the `Rename: old name` which never has a `| Close`. Does that sou

[2019-06-24 18:59] basepi commented on #656
Good catch! That does look like the culprit. I tweaked your provided patch to make it a little more succinct, here: https://github.com/hubblestack/hubble/pull/659

(I just limited the split to a single split, which should have the same effect.)

Thank you for figuring this out!

[2019-06-25 19:39] #656 closed

[2019-07-08 17:21] dKumar-pki opened #669 "How to run this on Windows server,i have installed the hubble in windows server but not sure how to run hubble.audit"

[2019-07-08 17:22] dKumar-pki commented on #669
PS C:\Program Files (x86)\Hubble> hubble hubble.ping
16:21:16 [ERROR] The git command line utility is required when using the 'pygit2' gitfs_provider.
16:21:16 [ERROR] The git command line utility is required when using the 'gitpython' gitfs_provider.
16:21:16 [CRITICAL] No suitable gitfs provider module is installed.
16:21:16 [ERROR] An un-handled exception was caught by salt's global exception h

[2019-07-09 22:12] basepi commented on #669
Sorry about this! It's a problem in our documentation for windows. Basically to run hubble using gitfs, you have to run commands from the git command line (`C:\Program Files (x86)\Hubble\PortableGit\git-cmd.exe`)

This step is handled for you if you use the system service.

I should also point out that you want `test.ping`, not `hubble.ping`.

[2019-07-10 15:54] dKumar-pki commented on #669
Thanks for your reply. But i am getting another error while running audit command for my windows machine.
C:\Program Files (x86)\Hubble\PortableGit>hubble test.ping
True

C:\Program Files (x86)\Hubble\PortableGit>hubble hubble.audit
15:44:26 [ERROR] An un-handled exception was caught by salt's global exception h
andler:
AttributeError: '_pygit2.Reference' object has no attribute 'get_object'
Trace

[2019-07-10 17:55] basepi commented on #669
Hmmm, that is odd. Can you show me your hubble config?

[2019-07-10 19:29] dKumar-pki commented on #669
I have not configure anything just installed it and try to run. It will be better if you can provide me any documentation for windows.

[2019-07-15 14:48] SpiritualMadMan opened #676 "[Help Wanted] Logstash on Hubble"
Back on issue #419 (July 2018) Daniel got a demo going using the ELK stack of which Logstash is a part of.

Some passing conversation on the config files was made. I need to get Logstash working with Hubble on a Windows 10 Stand-alone system. (No Internet Connectivity.)

Logstash has a returner sample for each of its three returner modules.
Do we create a separate .conf file for each Logstash retu

[2019-07-17 14:10] dKumar-pki commented on #669
Hi, Please provide me the process to work with hubble on Windows platform?

[2019-07-17 18:23] basepi commented on #676
You only need the config block once. The big difference between the different blocks is the `sourcetype_` settings which set the sourcetype of the events in logstash for each type of data.

Past that, I'm not much help. I have never actually used the logstash returners... :flushed: It may be that you can just leave off the unneeded pieces and it will work? But I'm not sure.

As an aside: We've bee

[2019-07-17 18:29] basepi commented on #669
Sorry for the delays here, I've been traveling and on PTO and am finally catching up.

The config is in `C:\Program Files (x86)\Hubble\etc\hubble\hubble`

[2019-07-18 11:03] SpiritualMadMan commented on #676
Colton,

I understand all to well how priorities work...

And, I greatly appreciate both your honesty and your taking the time
to answer while the alligators are nipping at your ear lobes :)

Did get Logstash to run error free...

Unfortunately, not seeing any data returned, so obviously ports and
other configs are incorrect...

I just wish my lead would accept that what he is asking is in areas
n

[2019-07-19 20:12] basepi commented on #676
It depends on what you have configured. Specific jobs might call specific returners, for example, and this is all either controlled on the command line (for one-off jobs) or in the `schedule` setting in the config.

If a returner is configured, then Hubble will call that returner and pass in the results of the job. The returner can then process that data however it wants -- in the case of the logs

[2019-07-26 05:53] praksinha commented on #669
@dKumar-pki You can refer https://github.com/hubblestack/hubble/blob/develop/pkg/windows/hubble.conf config to start with. If you use Splunk, you must specify correct values for token, index, indexer etc. If you use any other log aggregator like logstash, you should update the config accordingly (returner block towards the end of config).

Although it is recommended to run Hubble as a service on W

[2020-06-10 22:08] basepi opened #860 "Use a single request for GCP cloud details"
While working on [cloud metadata](https://github.com/elastic/apm-agent-python/pull/826) for the Elastic APM python agent, I was using the [cloud_details](https://github.com/hubblestack/hubble/blob/54062cf07bf2462ea9be149d740f38defd849b25/hubblestack/extmods/grains/cloud_details.py#L145-L232) grain as a reference and realized with a little testing that you can just use a single REST API request to

[2020-08-04 16:14] zachsis opened #895 "Dockerfile - osquery packaging broken"
Hello,

when I build the osquery package first, that runs and completes. When copying the `osquery_4hubble.tar` to `pkg/ubuntu1804/` (copy of `pkg/debian10/`) and running `docker build -t 'ubuntu:bionic' .` it gets to the following step and fails:

https://github.com/hubblestack/hubble/blob/6456af53c5eff10a7ca91ecba4abdbfe18e8084e/pkg/debian10/Dockerfile#L121

[code]

 and fails when it tries to r

[2020-08-05 20:20] MoodyMudit commented on #895
Noted. Will fix this.

[2020-10-08 09:53] goravsingal opened #942 "Security Vulnerability in oval_scanner.py for xml parsing library"
In a security exercise, this issue is found.

**Details**
File: oval_scanner.py
Vulnerable library: xml.etree.ElementTree
**The exact message**
It was observed that the product is vulnerable to XML injection and XML external entity attacks due to absence of XML input validation. A successful exploitation of these attacks can lead to unauthorized execution of commands and information disclosure.

*

[2020-10-08 15:07] buddwm commented on #942
I can check this.  We can probably merge this into the issue I opened for updates to the oval_scanner.py script as I'm doing a lot of re-writes.

[2020-10-09 10:34] goravsingal commented on #942
Definitely. Thanks

[2020-11-09 07:34] goravsingal commented on #942
@buddwm Any idea when you will pick this?

[2020-11-10 15:07] buddwm commented on #942
@goravsingal I have limited time this month, and adding to the fact that the PR I submitted calls for some re-writes, I expect to have something probably by the end of this month or beginning of December.

[2020-11-12 11:33] goravsingal commented on #942
Thanks for the update.

[2020-12-08 18:52] sumanmehta commented on #942
@buddwm When do you plan to fix the security issue mentioned by Gorav?

[2020-12-22 17:45] buddwm commented on #942
I am waiting on a fix for defusedxml as outlined here:
https://github.com/tiran/defusedxml/issues/48

I use the Element class to verify the objects getting parsed.  Without this, we can have unpredictable results.

[2021-10-05 18:11] gdbtek opened #1114 "System_uuid grain previously saved on disk doesn't match live system value"
we failed to start up Hubble and wondering if anyone knows what seem to be the problem

[code]

[code]

[code]

[code]

[2021-10-07 19:00] #1114 closed

[2021-10-11 18:39] #103 closed

[2021-10-11 18:40] #536 closed, assigned to basepi

[2021-10-11 18:42] #895 closed

[2021-10-11 18:42] #860 closed

[2021-10-11 18:43] #669 closed